In [1]:
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt
import numpy as np

In [3]:
df = pd.read_csv('../Datasets/Price_During_Credit(08.2023-03.2024)/Ready_to_use/domy_credyt_all.csv') 
df_copy = df.copy()
df_copy.head()
len(df_copy)

20808

In [4]:
df_copy[df_copy['okres'] == 'sierpien_2023']['poznan_wlasnosc_prywatna'].min()

320000.0

In [5]:
df_copy[df_copy['okres'] == 'sierpien_2023']['poznan_spółdzielnia'].min()

302000.0

In [6]:
df_copy.columns

Index(['rodzaj_zabudowy', 'metry_kwadratowe', 'stan_mieszkania', 'okres',
       'bialystok_wlasnosc_prywatna', 'bialystok_spółdzielnia',
       'bydgoszcz_wlasnosc_prywatna', 'bydgoszcz_spółdzielnia',
       'czestochowa_spółdzielnia', 'czestochowa_wlasnosc_prywatna',
       'gdansk_wlasnosc_prywatna', 'gdansk_spółdzielnia',
       'gdynia_wlasnosc_prywatna', 'gdynia_spółdzielnia',
       'katowice_wlasnosc_prywatna', 'katowice_spółdzielnia',
       'krakow_wlasnosc_prywatna', 'krakow_spółdzielnia',
       'lodz_wlasnosc_prywatna', 'lodz_spółdzielnia',
       'lublin_wlasnosc_prywatna', 'lublin_spółdzielnia',
       'poznan_wlasnosc_prywatna', 'poznan_spółdzielnia',
       'radom_wlasnosc_prywatna', 'radom_spółdzielnia',
       'rzeszow_wlasnosc_prywatna', 'rzeszow_spółdzielnia',
       'szczecin_wlasnosc_prywatna', 'szczecin_spółdzielnia',
       'warszawa_wlasnosc_prywatna', 'warszawa_spółdzielnia',
       'wroclaw_wlasnosc_prywatna', 'wroclaw_spółdzielnia', 'krakow_udział',
       'radom_udział'],
      dtype='object')

In [5]:
mnth = df_copy['okres'].drop_duplicates()
for value3 in mnth:
    print(value3)

sierpien_2023
wrzesien_2023
pazdziernik_2023
listopad_2023
grudzien_2023
styczen_2024
luty_2024
marzec_2024
kwiecien_2024

20808

In [ ]:
domy_all_wybrane_kolumny_wp = df_copy[['rodzaj_zabudowy','metry_kwadratowe', 'stan_mieszkania','okres', 'gdansk_wlasnosc_prywatna','krakow_wlasnosc_prywatna','poznan_wlasnosc_prywatna','warszawa_wlasnosc_prywatna','wroclaw_wlasnosc_prywatna']]
domy_all_wybrane_kolumny_wp.head()

20808

In [9]:
domy_all_wybrane_kolumny_ws = df_copy[['rodzaj_zabudowy','metry_kwadratowe', 'stan_mieszkania','okres', 'gdansk_spółdzielnia','krakow_spółdzielnia','poznan_spółdzielnia','warszawa_spółdzielnia','wroclaw_spółdzielnia']]
domy_all_wybrane_kolumny_ws.head()

,rodzaj_zabudowy,metry_kwadratowe,stan_mieszkania,okres,gdansk_spółdzielnia,krakow_spółdzielnia,poznan_spółdzielnia,warszawa_spółdzielnia,wroclaw_spółdzielnia
0,apartamentowiec,41.62,wysoki_poziom_jakosci,sierpien_2023,NaN,NaN,NaN,NaN,NaN
1,apartamentowiec,49.63,wysoki_poziom_jakosci,sierpien_2023,NaN,NaN,NaN,NaN,NaN
2,apartamentowiec,50.00,wysoki_poziom_jakosci,sierpien_2023,NaN,NaN,NaN,NaN,NaN
3,apartamentowiec,61.50,wysoki_poziom_jakosci,sierpien_2023,NaN,NaN,NaN,NaN,NaN
4,apartamentowiec,64.64,wysoki_poziom_jakosci,sierpien_2023,NaN,NaN,NaN,NaN,NaN

In [10]:
def srednia(x_cena,y_metry):  
    z_srednia = x_cena/y_metry
    return round(z_srednia,3)

In [11]:
def srednia_2(okres_m,miasto_w):
    return round(df_copy[df_copy['okres'] == 'sierpien_2023'][miasto_w].mean() / df_copy[df_copy['okres'] == 'sierpien_2023']['metry_kwadratowe'].mean(),3)

In [12]:
def srednia_3(miasto_w):
    return round(df_copy[df_copy['okres'] == 'sierpien_2023'][miasto_w].mean() / df_copy[df_copy['okres'] == 'sierpien_2023']['metry_kwadratowe'].mean(),3), round(df_copy[df_copy['okres'] == 'wrzesien_2023'][miasto_w].mean() / df_copy[df_copy['okres'] == 'wrzesien_2023']['metry_kwadratowe'].mean(),3),round(df_copy[df_copy['okres'] == 'pazdziernik_2023'][miasto_w].mean() / df_copy[df_copy['okres'] == 'pazdziernik_2023']['metry_kwadratowe'].mean(),3),round(df_copy[df_copy['okres'] == 'listopad_2023'][miasto_w].mean() / df_copy[df_copy['okres'] == 'listopad_2023']['metry_kwadratowe'].mean(),3),round(df_copy[df_copy['okres'] == 'grudzien_2023'][miasto_w].mean() / df_copy[df_copy['okres'] == 'grudzien_2023']['metry_kwadratowe'].mean(),3), round(df_copy[df_copy['okres'] == 'styczen_2024'][miasto_w].mean() / df_copy[df_copy['okres'] == 'styczen_2024']['metry_kwadratowe'].mean(),3), round(df_copy[df_copy['okres'] == 'luty_2024'][miasto_w].mean() / df_copy[df_copy['okres'] == 'luty_2024']['metry_kwadratowe'].mean(),3),round(df_copy[df_copy['okres'] == 'marzec_2024'][miasto_w].mean() / df_copy[df_copy['okres'] == 'marzec_2024']['metry_kwadratowe'].mean(),3),round(df_copy[df_copy['okres'] == 'kwiecien_2024'][miasto_w].mean() / df_copy[df_copy['okres'] == 'kwiecien_2024']['metry_kwadratowe'].mean(),3)

In [13]:
def mediana(miasto_w):
    return round(df_copy[df_copy['okres'] == 'sierpien_2023'][miasto_w].median() / df_copy[df_copy['okres'] == 'sierpien_2023']['metry_kwadratowe'].median(),3), round(df_copy[df_copy['okres'] == 'wrzesien_2023'][miasto_w].median() / df_copy[df_copy['okres'] == 'wrzesien_2023']['metry_kwadratowe'].median(),3),round(df_copy[df_copy['okres'] == 'pazdziernik_2023'][miasto_w].median() / df_copy[df_copy['okres'] == 'pazdziernik_2023']['metry_kwadratowe'].median(),3),round(df_copy[df_copy['okres'] == 'listopad_2023'][miasto_w].median() / df_copy[df_copy['okres'] == 'listopad_2023']['metry_kwadratowe'].median(),3),round(df_copy[df_copy['okres'] == 'grudzien_2023'][miasto_w].median() / df_copy[df_copy['okres'] == 'grudzien_2023']['metry_kwadratowe'].median(),3),round(df_copy[df_copy['okres'] == 'styczen_2024'][miasto_w].median() / df_copy[df_copy['okres'] == 'styczen_2024']['metry_kwadratowe'].median(),3),round(df_copy[df_copy['okres'] == 'luty_2024'][miasto_w].median() / df_copy[df_copy['okres'] == 'luty_2024']['metry_kwadratowe'].median(),3),round(df_copy[df_copy['okres'] == 'marzec_2024'][miasto_w].median() / df_copy[df_copy['okres'] == 'marzec_2024']['metry_kwadratowe'].median(),3),round(df_copy[df_copy['okres'] == 'kwiecien_2024'][miasto_w].median() / df_copy[df_copy['okres'] == 'kwiecien_2024']['metry_kwadratowe'].median(),3)

warszawa

In [14]:
srednia_3('warszawa_wlasnosc_prywatna')

(16267.932,
 16778.608,
 16869.399,
 17078.032,
 17766.933,
 17712.896,
 18276.23,
 18560.05,
 18696.75)

In [15]:
srednia_3('warszawa_spółdzielnia')

(13851.829,
 13688.285,
 14206.543,
 14344.732,
 15272.848,
 15867.531,
 15720.045,
 15770.281,
 16146.251)

In [16]:
mediana('warszawa_wlasnosc_prywatna')

(15408.723,
 15599.306,
 15920.75,
 16322.949,
 16853.448,
 16955.403,
 17264.613,
 17579.327,
 17749.571)

In [17]:
mediana('warszawa_spółdzielnia')

(12710.003,
 12571.552,
 13237.809,
 13207.547,
 13920.69,
 13975.129,
 14721.153,
 14415.048,
 14778.981)

gdańsk

In [18]:
srednia_3('gdansk_wlasnosc_prywatna')

(12013.558,
 12597.835,
 12760.393,
 12777.29,
 13766.937,
 14874.931,
 14459.392,
 14623.905,
 14364.53)

In [19]:
srednia_3('gdansk_spółdzielnia')

(10443.622,
 9831.617,
 10253.736,
 11182.674,
 9999.749,
 11337.21,
 11066.121,
 11683.675,
 11412.847)

In [20]:
mediana('gdansk_wlasnosc_prywatna')

(12674.04,
 12679.965,
 12550.858,
 12523.036,
 12741.379,
 15000.0,
 14731.362,
 14344.731,
 14184.271)

In [21]:
mediana('gdansk_spółdzielnia')

(11264.908,
 10320.902,
 11126.835,
 12189.557,
 10327.586,
 11989.708,
 11716.836,
 11250.769,
 11681.165)

kraków

In [22]:
srednia_3('krakow_wlasnosc_prywatna')

(13127.499,
 13669.347,
 14211.421,
 14369.908,
 15601.34,
 16013.912,
 15983.066,
 16484.852,
 16807.13)

In [23]:
srednia_3('krakow_spółdzielnia')

(9657.329,
 9926.165,
 11032.518,
 11621.132,
 11745.346,
 11036.934,
 11079.565,
 11944.973,
 12382.742)

In [24]:
mediana('krakow_wlasnosc_prywatna')

(12866.719,
 13616.652,
 14249.071,
 14616.033,
 14637.931,
 15180.103,
 14858.243,
 15381.911,
 15409.196)

In [25]:
mediana('krakow_spółdzielnia')

(9523.81,
 10355.594,
 11657.527,
 12268.539,
 12112.069,
 11286.449,
 11550.578,
 12129.735,
 12422.333)

poznań

In [26]:
srednia_3('poznan_wlasnosc_prywatna')

(10234.786,
 10575.786,
 10477.904,
 10237.602,
 11138.183,
 11325.585,
 11293.89,
 11305.597,
 11688.981)

In [27]:
srednia_3('poznan_spółdzielnia')

(8051.584,
 8409.309,
 8381.581,
 8695.023,
 8313.237,
 8085.8,
 8325.024,
 8668.456,
 8841.258)

In [28]:
mediana('poznan_wlasnosc_prywatna')

(10481.414,
 11101.474,
 10879.179,
 10917.069,
 11181.034,
 11638.079,
 11375.569,
 11408.983,
 11539.144)

In [29]:
mediana('poznan_spółdzielnia')

(8357.273,
 8655.681,
 8473.377,
 9635.805,
 8500.0,
 7881.647,
 8400.42,
 8651.261,
 9213.563)

wrocław

In [30]:
srednia_3('wroclaw_wlasnosc_prywatna')

(10962.451,
 11030.87,
 11371.162,
 11584.783,
 12010.076,
 12125.319,
 12167.872,
 12886.571,
 13021.464)

In [31]:
srednia_3('wroclaw_spółdzielnia')

(9391.693,
 8946.799,
 9728.001,
 10173.566,
 10540.802,
 9980.279,
 9913.222,
 10358.824,
 10485.763)

In [32]:
mediana('wroclaw_wlasnosc_prywatna')

(11231.537,
 11274.935,
 11834.424,
 12110.575,
 12059.483,
 12178.388,
 12250.613,
 13087.809,
 13110.243)

In [33]:
mediana('wroclaw_spółdzielnia')

(10080.961,
 9869.905,
 10525.385,
 10952.172,
 11155.172,
 10506.003,
 10483.024,
 10653.072,
 11166.341)

In [34]:
mediana_df = pd.DataFrame()
mediana_df['okres'] = ['sierpien_2023', 'wrzesien_2023', 'pazdziernik_2023', 'listopad_2023', 'grudzien_2023', 
              'styczen_2024', 'luty_2024', 'marzec_2024', 'kwiecien_2024']

mediana_df['mediana_gdansk_wlasnosc_prywatna'] = mediana('gdansk_wlasnosc_prywatna')
mediana_df['mediana_krakow_wlasnosc_prywatna'] = mediana('krakow_wlasnosc_prywatna')
mediana_df['mediana_poznan_wlasnosc_prywatna'] = mediana('poznan_wlasnosc_prywatna')
mediana_df['mediana_warszawa_wlasnosc_prywatna'] = mediana('warszawa_wlasnosc_prywatna')
mediana_df['mediana_wroclaw_wlasnosc_prywatna'] = mediana('wroclaw_wlasnosc_prywatna')

mediana_df.head(10000)

,okres,mediana_gdansk_wlasnosc_prywatna,mediana_krakow_wlasnosc_prywatna,mediana_poznan_wlasnosc_prywatna,mediana_warszawa_wlasnosc_prywatna,mediana_wroclaw_wlasnosc_prywatna
0,sierpien_2023,12674.040,12866.719,10481.414,15408.723,11231.537
1,wrzesien_2023,12679.965,13616.652,11101.474,15599.306,11274.935
2,pazdziernik_2023,12550.858,14249.071,10879.179,15920.750,11834.424
3,listopad_2023,12523.036,14616.033,10917.069,16322.949,12110.575
4,grudzien_2023,12741.379,14637.931,11181.034,16853.448,12059.483
5,styczen_2024,15000.000,15180.103,11638.079,16955.403,12178.388
6,luty_2024,14731.362,14858.243,11375.569,17264.613,12250.613
7,marzec_2024,14344.731,15381.911,11408.983,17579.327,13087.809
8,kwiecien_2024,14184.271,15409.196,11539.144,17749.571,13110.243

In [35]:
srednia_3
srednia_df = pd.DataFrame()
srednia_df['okres'] = ['sierpien_2023', 'wrzesien_2023', 'pazdziernik_2023', 'listopad_2023', 'grudzien_2023', 
              'styczen_2024', 'luty_2024', 'marzec_2024', 'kwiecien_2024']

srednia_df['srednia_gdansk_wlasnosc_prywatna'] = srednia_3('gdansk_wlasnosc_prywatna')
srednia_df['srednia_krakow_wlasnosc_prywatna'] = srednia_3('krakow_wlasnosc_prywatna')
srednia_df['srednia_poznan_wlasnosc_prywatna'] = srednia_3('poznan_wlasnosc_prywatna')
srednia_df['srednia_warszawa_wlasnosc_prywatna'] = srednia_3('warszawa_wlasnosc_prywatna')
srednia_df['srednia_wroclaw_wlasnosc_prywatna'] = srednia_3('wroclaw_wlasnosc_prywatna')

srednia_df.head(10000)

,okres,srednia_gdansk_wlasnosc_prywatna,srednia_krakow_wlasnosc_prywatna,srednia_poznan_wlasnosc_prywatna,srednia_warszawa_wlasnosc_prywatna,srednia_wroclaw_wlasnosc_prywatna
0,sierpien_2023,12013.558,13127.499,10234.786,16267.932,10962.451
1,wrzesien_2023,12597.835,13669.347,10575.786,16778.608,11030.870
2,pazdziernik_2023,12760.393,14211.421,10477.904,16869.399,11371.162
3,listopad_2023,12777.290,14369.908,10237.602,17078.032,11584.783
4,grudzien_2023,13766.937,15601.340,11138.183,17766.933,12010.076
5,styczen_2024,14874.931,16013.912,11325.585,17712.896,12125.319
6,luty_2024,14459.392,15983.066,11293.890,18276.230,12167.872
7,marzec_2024,14623.905,16484.852,11305.597,18560.050,12886.571
8,kwiecien_2024,14364.530,16807.130,11688.981,18696.750,13021.464