<h2>Trying to optimise data<h2>

In [32]:
import pandas as pd

In [33]:
domy_credyt_08_2023 = pd.read_csv('../Datasets/Price_During_Credit(08.2023-03.2024)/RAW_data_CR/apartments_pl_2023_08.csv')
domy_credyt_09_2023 = pd.read_csv('../Datasets/Price_During_Credit(08.2023-03.2024)/RAW_data_CR/apartments_pl_2023_09.csv')
domy_credyt_10_2023 = pd.read_csv('../Datasets/Price_During_Credit(08.2023-03.2024)/RAW_data_CR/apartments_pl_2023_10.csv')
domy_credyt_11_2023 = pd.read_csv('../Datasets/Price_During_Credit(08.2023-03.2024)/RAW_data_CR/apartments_pl_2023_11.csv')
domy_credyt_12_2023 = pd.read_csv('../Datasets/Price_During_Credit(08.2023-03.2024)/RAW_data_CR/apartments_pl_2023_12.csv')

In [34]:
domy_credyt_08_2023.head()

,id,city,type,squareMeters,rooms,floor,floorCount,buildYear,latitude,longitude,...,pharmacyDistance,ownership,buildingMaterial,condition,hasParkingSpace,hasBalcony,hasElevator,hasSecurity,hasStorageRoom,price
0,f8524536d4b09a0c8ccc0197ec9d7bde,szczecin,blockOfFlats,63.00,3.0,4.0,10.0,1980.0,53.378933,14.625296,...,0.413,condominium,concreteSlab,NaN,yes,yes,yes,no,yes,415000
1,accbe77d4b360fea9735f138a50608dd,szczecin,blockOfFlats,36.00,2.0,8.0,10.0,NaN,53.442692,14.559690,...,0.205,cooperative,concreteSlab,NaN,no,yes,yes,no,yes,395995
2,8373aa373dbc3fe7ca3b7434166b8766,szczecin,tenement,73.02,3.0,2.0,3.0,NaN,53.452222,14.553333,...,0.280,condominium,brick,NaN,no,no,no,no,no,565000
3,0a68cd14c44ec5140143ece75d739535,szczecin,tenement,87.60,3.0,2.0,3.0,NaN,53.435100,14.532900,...,0.087,condominium,brick,NaN,yes,yes,no,no,yes,640000
4,f66320e153c2441edc0fe293b54c8aeb,szczecin,blockOfFlats,66.00,3.0,1.0,3.0,NaN,53.410278,14.503611,...,0.514,condominium,NaN,NaN,no,no,no,no,no,759000

In [35]:
wl = domy_credyt_09_2023['ownership'].drop_duplicates()
for value3 in wl:
    print(value3)

condominium
cooperative

In [36]:
domy_credyt_09_2023.head()

,id,city,type,squareMeters,rooms,floor,floorCount,buildYear,latitude,longitude,...,pharmacyDistance,ownership,buildingMaterial,condition,hasParkingSpace,hasBalcony,hasElevator,hasSecurity,hasStorageRoom,price
0,71de9eb8a92ac12d7c94315228b70cfb,szczecin,tenement,123.45,4.0,2.0,3.0,NaN,53.432586,14.535685,...,0.321,condominium,brick,NaN,no,yes,no,no,yes,799000
1,23d558163bb1c7863c73485048e50858,szczecin,NaN,53.80,2.0,5.0,5.0,NaN,53.429429,14.554642,...,0.073,cooperative,NaN,NaN,no,no,yes,no,no,420000
2,3b8819c6c9ffd55adfddfd5bafcc844d,szczecin,tenement,50.00,2.0,NaN,1.0,NaN,53.364400,14.660900,...,0.399,condominium,brick,NaN,yes,no,no,no,no,350000
3,708ccd264180315a4cfe6324ed4861d0,szczecin,blockOfFlats,55.19,2.0,1.0,2.0,2013.0,53.480364,14.541494,...,0.183,condominium,brick,premium,yes,yes,no,yes,yes,607000
4,8373aa373dbc3fe7ca3b7434166b8766,szczecin,tenement,73.02,3.0,2.0,3.0,NaN,53.452222,14.553333,...,0.280,condominium,brick,NaN,no,no,no,no,no,565000

In [37]:
domy_credyt_10_2023.head()

,id,city,type,squareMeters,rooms,floor,floorCount,buildYear,latitude,longitude,...,pharmacyDistance,ownership,buildingMaterial,condition,hasParkingSpace,hasBalcony,hasElevator,hasSecurity,hasStorageRoom,price
0,23d558163bb1c7863c73485048e50858,szczecin,NaN,53.80,2.0,5.0,5.0,NaN,53.429429,14.554642,...,0.073,cooperative,NaN,NaN,no,no,yes,no,no,420000
1,8373aa373dbc3fe7ca3b7434166b8766,szczecin,tenement,73.02,3.0,2.0,3.0,NaN,53.452222,14.553333,...,0.280,condominium,brick,NaN,no,no,no,no,no,565000
2,ede1c0d953ff85f3cd9676d39ca8f62d,szczecin,blockOfFlats,37.00,2.0,8.0,10.0,1970.0,53.442692,14.559690,...,0.205,cooperative,concreteSlab,NaN,no,yes,yes,yes,yes,429995
3,6c807c6c86a74c57a3fd4445a1f49a46,szczecin,apartmentBuilding,48.00,2.0,4.0,6.0,NaN,53.435461,14.570436,...,0.177,condominium,brick,NaN,no,yes,no,no,no,550000
4,bb14c9a540275da73f6cb6ed42e5c26c,szczecin,apartmentBuilding,55.19,2.0,1.0,2.0,2013.0,53.482094,14.542574,...,0.043,condominium,brick,premium,yes,yes,no,yes,yes,607000

In [38]:
domy_credyt_11_2023.head()

,id,city,type,squareMeters,rooms,floor,floorCount,buildYear,latitude,longitude,...,pharmacyDistance,ownership,buildingMaterial,condition,hasParkingSpace,hasBalcony,hasElevator,hasSecurity,hasStorageRoom,price
0,0d9b89891919809b6465f1f8bd942c62,szczecin,blockOfFlats,82.20,4.0,3.0,4.0,1981.0,53.451900,14.560600,...,0.197,condominium,concreteSlab,NaN,yes,no,no,no,yes,669000
1,8373aa373dbc3fe7ca3b7434166b8766,szczecin,tenement,73.02,3.0,2.0,3.0,NaN,53.452222,14.553333,...,0.280,condominium,brick,NaN,no,no,no,no,no,650000
2,546fbb3c9042fc833149173fc6a2240f,szczecin,blockOfFlats,28.13,1.0,NaN,5.0,1965.0,53.427312,14.549056,...,0.111,condominium,brick,NaN,no,no,no,no,yes,319500
3,7d0c31d5409caab173571cce3dcdf702,szczecin,blockOfFlats,68.61,3.0,4.0,4.0,1997.0,53.456213,14.583222,...,0.304,condominium,brick,NaN,no,yes,no,no,yes,550000
4,7ec72a2301d950ae17926c3c1e67a0ed,szczecin,tenement,35.92,2.0,NaN,NaN,NaN,53.424203,14.543550,...,0.329,condominium,brick,low,yes,no,no,no,no,299000

In [39]:
domy_credyt_12_2023.head()

,id,city,type,squareMeters,rooms,floor,floorCount,buildYear,latitude,longitude,...,pharmacyDistance,ownership,buildingMaterial,condition,hasParkingSpace,hasBalcony,hasElevator,hasSecurity,hasStorageRoom,price
0,a01d82c9529f98a54d64b9e061c9a73b,szczecin,apartmentBuilding,105.00,4.0,3.0,4.0,2016.0,53.431503,14.485820,...,0.335,condominium,brick,premium,no,yes,yes,no,no,1199999
1,d68ea84e5d35da9e282150332bdc22f3,szczecin,blockOfFlats,94.40,4.0,4.0,5.0,NaN,53.441253,14.511030,...,0.051,condominium,brick,premium,yes,yes,no,no,yes,1150000
2,420295cc23d693fdffd5ccc9ba35ba98,szczecin,NaN,48.29,2.0,8.0,11.0,2014.0,53.399444,14.526111,...,0.141,condominium,NaN,NaN,yes,yes,yes,no,yes,625000
3,7d0c31d5409caab173571cce3dcdf702,szczecin,blockOfFlats,68.61,3.0,4.0,4.0,1997.0,53.456213,14.583222,...,0.304,condominium,brick,NaN,no,yes,no,no,yes,550000
4,7ec72a2301d950ae17926c3c1e67a0ed,szczecin,tenement,35.92,2.0,NaN,NaN,NaN,53.424203,14.543550,...,0.329,condominium,brick,low,yes,no,no,no,no,299000

In [40]:
domy_credyt_08_2023_wybrane_kolumny = domy_credyt_08_2023[['city','type', 'squareMeters','rooms', 'buildYear','ownership','condition','price']]
domy_credyt_08_2023_wybrane_kolumny.head()

,city,type,squareMeters,rooms,buildYear,ownership,condition,price
0,szczecin,blockOfFlats,63.00,3.0,1980.0,condominium,NaN,415000
1,szczecin,blockOfFlats,36.00,2.0,NaN,cooperative,NaN,395995
2,szczecin,tenement,73.02,3.0,NaN,condominium,NaN,565000
3,szczecin,tenement,87.60,3.0,NaN,condominium,NaN,640000
4,szczecin,blockOfFlats,66.00,3.0,NaN,condominium,NaN,759000

In [41]:
domy_credyt_09_2023_wybrane_kolumny = domy_credyt_09_2023[['city','type', 'squareMeters','rooms', 'buildYear','ownership','condition','price']]
domy_credyt_09_2023_wybrane_kolumny.head()

,city,type,squareMeters,rooms,buildYear,ownership,condition,price
0,szczecin,tenement,123.45,4.0,NaN,condominium,NaN,799000
1,szczecin,NaN,53.80,2.0,NaN,cooperative,NaN,420000
2,szczecin,tenement,50.00,2.0,NaN,condominium,NaN,350000
3,szczecin,blockOfFlats,55.19,2.0,2013.0,condominium,premium,607000
4,szczecin,tenement,73.02,3.0,NaN,condominium,NaN,565000

In [42]:
domy_credyt_10_2023_wybrane_kolumny = domy_credyt_10_2023[['city','type', 'squareMeters','rooms', 'buildYear','ownership','condition','price']]
domy_credyt_10_2023_wybrane_kolumny.head()

,city,type,squareMeters,rooms,buildYear,ownership,condition,price
0,szczecin,NaN,53.80,2.0,NaN,cooperative,NaN,420000
1,szczecin,tenement,73.02,3.0,NaN,condominium,NaN,565000
2,szczecin,blockOfFlats,37.00,2.0,1970.0,cooperative,NaN,429995
3,szczecin,apartmentBuilding,48.00,2.0,NaN,condominium,NaN,550000
4,szczecin,apartmentBuilding,55.19,2.0,2013.0,condominium,premium,607000

In [43]:
domy_credyt_11_2023_wybrane_kolumny = domy_credyt_11_2023[['city','type', 'squareMeters','rooms', 'buildYear','ownership','condition','price']]
domy_credyt_11_2023_wybrane_kolumny.head()

,city,type,squareMeters,rooms,buildYear,ownership,condition,price
0,szczecin,blockOfFlats,82.20,4.0,1981.0,condominium,NaN,669000
1,szczecin,tenement,73.02,3.0,NaN,condominium,NaN,650000
2,szczecin,blockOfFlats,28.13,1.0,1965.0,condominium,NaN,319500
3,szczecin,blockOfFlats,68.61,3.0,1997.0,condominium,NaN,550000
4,szczecin,tenement,35.92,2.0,NaN,condominium,low,299000

In [44]:
domy_credyt_12_2023_wybrane_kolumny = domy_credyt_12_2023[['city','type', 'squareMeters','rooms', 'buildYear','ownership','condition','price']]
domy_credyt_12_2023_wybrane_kolumny.head()

,city,type,squareMeters,rooms,buildYear,ownership,condition,price
0,szczecin,apartmentBuilding,105.00,4.0,2016.0,condominium,premium,1199999
1,szczecin,blockOfFlats,94.40,4.0,NaN,condominium,premium,1150000
2,szczecin,NaN,48.29,2.0,2014.0,condominium,NaN,625000
3,szczecin,blockOfFlats,68.61,3.0,1997.0,condominium,NaN,550000
4,szczecin,tenement,35.92,2.0,NaN,condominium,low,299000

In [45]:
domy_credyt_08_2023_wybrane_kolumny['period'] = 'sierpien_2023'
domy_credyt_09_2023_wybrane_kolumny['period'] = 'wrzesien_2023'
domy_credyt_10_2023_wybrane_kolumny['period'] = 'pazdziernik_2023'
domy_credyt_11_2023_wybrane_kolumny['period'] = 'listopad_2023'
domy_credyt_12_2023_wybrane_kolumny['period'] = 'grudzien_2023'

C:\Users\Анна Мамчич\AppData\Local\Temp\ipykernel_15948\2522250221.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  domy_credyt_08_2023_wybrane_kolumny['period'] = 'sierpien_2023'
C:\Users\Анна Мамчич\AppData\Local\Temp\ipykernel_15948\2522250221.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  domy_credyt_09_2023_wybrane_kolumny['period'] = 'wrzesien_2023'
C:\Users\Анна Мамчич\AppData\Local\Temp\ipykernel_15948\2522250221.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  domy_credyt_10_2023_wybrane_kolumny['period'] = 'pazdziernik_2023'
C:\Users\Анна Мамчич\AppData\Local\Temp\ipykernel_15948\2522250221.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  domy_credyt_11_2023_wybrane_kolumny['period'] = 'listopad_2023'
C:\Users\Анна Мамчич\AppData\Local\Temp\ipykernel_15948\2522250221.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  domy_credyt_12_2023_wybrane_kolumny['period'] = 'grudzien_2023'

In [46]:
domy_credyt_09_2023_wybrane_kolumny.head()

,city,type,squareMeters,rooms,buildYear,ownership,condition,price,period
0,szczecin,tenement,123.45,4.0,NaN,condominium,NaN,799000,wrzesien_2023
1,szczecin,NaN,53.80,2.0,NaN,cooperative,NaN,420000,wrzesien_2023
2,szczecin,tenement,50.00,2.0,NaN,condominium,NaN,350000,wrzesien_2023
3,szczecin,blockOfFlats,55.19,2.0,2013.0,condominium,premium,607000,wrzesien_2023
4,szczecin,tenement,73.02,3.0,NaN,condominium,NaN,565000,wrzesien_2023

In [47]:
domy_credyt_10_2023_wybrane_kolumny.head()

,city,type,squareMeters,rooms,buildYear,ownership,condition,price,period
0,szczecin,NaN,53.80,2.0,NaN,cooperative,NaN,420000,pazdziernik_2023
1,szczecin,tenement,73.02,3.0,NaN,condominium,NaN,565000,pazdziernik_2023
2,szczecin,blockOfFlats,37.00,2.0,1970.0,cooperative,NaN,429995,pazdziernik_2023
3,szczecin,apartmentBuilding,48.00,2.0,NaN,condominium,NaN,550000,pazdziernik_2023
4,szczecin,apartmentBuilding,55.19,2.0,2013.0,condominium,premium,607000,pazdziernik_2023

In [48]:
domy_credyt_11_2023_wybrane_kolumny.head()

,city,type,squareMeters,rooms,buildYear,ownership,condition,price,period
0,szczecin,blockOfFlats,82.20,4.0,1981.0,condominium,NaN,669000,listopad_2023
1,szczecin,tenement,73.02,3.0,NaN,condominium,NaN,650000,listopad_2023
2,szczecin,blockOfFlats,28.13,1.0,1965.0,condominium,NaN,319500,listopad_2023
3,szczecin,blockOfFlats,68.61,3.0,1997.0,condominium,NaN,550000,listopad_2023
4,szczecin,tenement,35.92,2.0,NaN,condominium,low,299000,listopad_2023

In [49]:
domy_credyt_12_2023_wybrane_kolumny.head()

,city,type,squareMeters,rooms,buildYear,ownership,condition,price,period
0,szczecin,apartmentBuilding,105.00,4.0,2016.0,condominium,premium,1199999,grudzien_2023
1,szczecin,blockOfFlats,94.40,4.0,NaN,condominium,premium,1150000,grudzien_2023
2,szczecin,NaN,48.29,2.0,2014.0,condominium,NaN,625000,grudzien_2023
3,szczecin,blockOfFlats,68.61,3.0,1997.0,condominium,NaN,550000,grudzien_2023
4,szczecin,tenement,35.92,2.0,NaN,condominium,low,299000,grudzien_2023

In [50]:
domy_credyt_08_2023_copy = domy_credyt_08_2023_wybrane_kolumny.copy()
domy_credyt_09_2023_copy = domy_credyt_09_2023_wybrane_kolumny.copy()
domy_credyt_10_2023_copy = domy_credyt_10_2023_wybrane_kolumny.copy()
domy_credyt_11_2023_copy = domy_credyt_11_2023_wybrane_kolumny.copy()
domy_credyt_12_2023_copy = domy_credyt_12_2023_wybrane_kolumny.copy()

In [51]:
domy_combined = pd.concat([domy_credyt_08_2023_copy,domy_credyt_09_2023_copy, domy_credyt_10_2023_copy,domy_credyt_11_2023_copy,domy_credyt_12_2023_copy], ignore_index=True)
domy_combined.head(70000)

#domy_combined.to_csv('combined_database.csv', index=False)

,city,type,squareMeters,rooms,buildYear,ownership,condition,price,period
0,szczecin,blockOfFlats,63.00,3.0,1980.0,condominium,NaN,415000,sierpien_2023
1,szczecin,blockOfFlats,36.00,2.0,NaN,cooperative,NaN,395995,sierpien_2023
2,szczecin,tenement,73.02,3.0,NaN,condominium,NaN,565000,sierpien_2023
3,szczecin,tenement,87.60,3.0,NaN,condominium,NaN,640000,sierpien_2023
4,szczecin,blockOfFlats,66.00,3.0,NaN,condominium,NaN,759000,sierpien_2023
...,...,...,...,...,...,...,...,...,...
69995,gdynia,apartmentBuilding,30.00,1.0,2021.0,condominium,NaN,690000,grudzien_2023
69996,gdynia,NaN,51.00,2.0,1982.0,condominium,NaN,479000,grudzien_2023
69997,gdynia,apartmentBuilding,74.70,3.0,2012.0,condominium,NaN,1330000,grudzien_2023
69998,gdynia,tenement,49.37,2.0,1954.0,condominium,NaN,620000,grudzien_2023
69999,gdynia,blockOfFlats,54.00,2.0,1950.0,condominium,NaN,680000,grudzien_2023

In [1]:
domy_combined_wybrane_kolumny = domy_combined[['city','type', 'squareMeters','rooms', 'buildYear','ownership','condition','price','period']]
domy_combined_wybrane_kolumny.head()

NameError: name 'domy_combined' is not defined

In [53]:
domy_combined_wybrane_kolumny.columns = ['miasto','rodzaj_zabudowy', 'metry_kwadratowe', 'ilosc_pokojow', 'rok_zabudowy','rodzaj_wlasnosci','stan_mieszkania','wartosc','okres']
domy_combined_wybrane_kolumny.head()

,miasto,rodzaj_zabudowy,metry_kwadratowe,ilosc_pokojow,rok_zabudowy,rodzaj_wlasnosci,stan_mieszkania,wartosc,okres
0,szczecin,blockOfFlats,63.00,3.0,1980.0,condominium,NaN,415000,sierpien_2023
1,szczecin,blockOfFlats,36.00,2.0,NaN,cooperative,NaN,395995,sierpien_2023
2,szczecin,tenement,73.02,3.0,NaN,condominium,NaN,565000,sierpien_2023
3,szczecin,tenement,87.60,3.0,NaN,condominium,NaN,640000,sierpien_2023
4,szczecin,blockOfFlats,66.00,3.0,NaN,condominium,NaN,759000,sierpien_2023

In [54]:

domy_combined_wybrane_kolumny['rodzaj_zabudowy'] = domy_combined_wybrane_kolumny['rodzaj_zabudowy'].replace({
    'blockOfFlats': 'blok_mieszkań',
    'tenement': 'kamienica',
    'apartmentBuilding': 'apartamentowiec',
    'nan': 'brak_informacji'
})
domy_combined_wybrane_kolumny['rodzaj_wlasnosci'] = domy_combined_wybrane_kolumny['rodzaj_wlasnosci'].replace({
    'condominium' : 'wlasnosc_prywatna',
    'cooperative' : 'spółdzielnia'
})
domy_combined_wybrane_kolumny['stan_mieszkania'] = domy_combined_wybrane_kolumny['stan_mieszkania'].replace({
    'low': 'nizki_poziom_jakosci',
    'premium': 'wysoki_poziom_jakosci',
    'nan': 'brak_informacji'
})

In [55]:
domy_combined_wybrane_kolumny.head()

,miasto,rodzaj_zabudowy,metry_kwadratowe,ilosc_pokojow,rok_zabudowy,rodzaj_wlasnosci,stan_mieszkania,wartosc,okres
0,szczecin,blok_mieszkań,63.00,3.0,1980.0,wlasnosc_prywatna,NaN,415000,sierpien_2023
1,szczecin,blok_mieszkań,36.00,2.0,NaN,spółdzielnia,NaN,395995,sierpien_2023
2,szczecin,kamienica,73.02,3.0,NaN,wlasnosc_prywatna,NaN,565000,sierpien_2023
3,szczecin,kamienica,87.60,3.0,NaN,wlasnosc_prywatna,NaN,640000,sierpien_2023
4,szczecin,blok_mieszkań,66.00,3.0,NaN,wlasnosc_prywatna,NaN,759000,sierpien_2023

In [56]:
stan_mieszkania1 = domy_combined_wybrane_kolumny['okres'].drop_duplicates()
for value3 in stan_mieszkania1:
    print(value3)

sierpien_2023
wrzesien_2023
pazdziernik_2023
listopad_2023
grudzien_2023

In [57]:
df_august = domy_combined_wybrane_kolumny[domy_combined_wybrane_kolumny['okres'].str.contains('sierpien_2023', case=False, na=False)]
df_september = domy_combined_wybrane_kolumny[domy_combined_wybrane_kolumny['okres'].str.contains('wrzesien_2023', case=False, na=False)]
df_october = domy_combined_wybrane_kolumny[domy_combined_wybrane_kolumny['okres'].str.contains('pazdziernik_2023', case=False, na=False)]
df_november = domy_combined_wybrane_kolumny[domy_combined_wybrane_kolumny['okres'].str.contains('listopad_2023', case=False, na=False)]
df_december = domy_combined_wybrane_kolumny[domy_combined_wybrane_kolumny['okres'].str.contains('grudzien_2023', case=False, na=False)]


df_august.to_csv('../Datasets/Price_During_Credit(08.2023-03.2024)/tmp_data_CR/database_august.csv', index=False)
df_september.to_csv('../Datasets/Price_During_Credit(08.2023-03.2024)/tmp_data_CR/database_september.csv', index=False)
df_october.to_csv('../Datasets/Price_During_Credit(08.2023-03.2024)/tmp_data_CR/database_october.csv', index=False)
df_november.to_csv('../Datasets/Price_During_Credit(08.2023-03.2024)/tmp_data_CR/database_november.csv', index=False)
df_december.to_csv('../Datasets/Price_During_Credit(08.2023-03.2024)/tmp_data_CR/database_december.csv', index=False)

In [58]:
df_september.head()

,miasto,rodzaj_zabudowy,metry_kwadratowe,ilosc_pokojow,rok_zabudowy,rodzaj_wlasnosci,stan_mieszkania,wartosc,okres
18905,szczecin,kamienica,123.45,4.0,NaN,wlasnosc_prywatna,NaN,799000,wrzesien_2023
18906,szczecin,NaN,53.80,2.0,NaN,spółdzielnia,NaN,420000,wrzesien_2023
18907,szczecin,kamienica,50.00,2.0,NaN,wlasnosc_prywatna,NaN,350000,wrzesien_2023
18908,szczecin,blok_mieszkań,55.19,2.0,2013.0,wlasnosc_prywatna,wysoki_poziom_jakosci,607000,wrzesien_2023
18909,szczecin,kamienica,73.02,3.0,NaN,wlasnosc_prywatna,NaN,565000,wrzesien_2023

In [59]:
df_october.head()

,miasto,rodzaj_zabudowy,metry_kwadratowe,ilosc_pokojow,rok_zabudowy,rodzaj_wlasnosci,stan_mieszkania,wartosc,okres
35902,szczecin,NaN,53.80,2.0,NaN,spółdzielnia,NaN,420000,pazdziernik_2023
35903,szczecin,kamienica,73.02,3.0,NaN,wlasnosc_prywatna,NaN,565000,pazdziernik_2023
35904,szczecin,blok_mieszkań,37.00,2.0,1970.0,spółdzielnia,NaN,429995,pazdziernik_2023
35905,szczecin,apartamentowiec,48.00,2.0,NaN,wlasnosc_prywatna,NaN,550000,pazdziernik_2023
35906,szczecin,apartamentowiec,55.19,2.0,2013.0,wlasnosc_prywatna,wysoki_poziom_jakosci,607000,pazdziernik_2023

In [60]:
df_november.head()

,miasto,rodzaj_zabudowy,metry_kwadratowe,ilosc_pokojow,rok_zabudowy,rodzaj_wlasnosci,stan_mieszkania,wartosc,okres
52592,szczecin,blok_mieszkań,82.20,4.0,1981.0,wlasnosc_prywatna,NaN,669000,listopad_2023
52593,szczecin,kamienica,73.02,3.0,NaN,wlasnosc_prywatna,NaN,650000,listopad_2023
52594,szczecin,blok_mieszkań,28.13,1.0,1965.0,wlasnosc_prywatna,NaN,319500,listopad_2023
52595,szczecin,blok_mieszkań,68.61,3.0,1997.0,wlasnosc_prywatna,NaN,550000,listopad_2023
52596,szczecin,kamienica,35.92,2.0,NaN,wlasnosc_prywatna,nizki_poziom_jakosci,299000,listopad_2023

In [61]:
df_december.head()

,miasto,rodzaj_zabudowy,metry_kwadratowe,ilosc_pokojow,rok_zabudowy,rodzaj_wlasnosci,stan_mieszkania,wartosc,okres
68894,szczecin,apartamentowiec,105.00,4.0,2016.0,wlasnosc_prywatna,wysoki_poziom_jakosci,1199999,grudzien_2023
68895,szczecin,blok_mieszkań,94.40,4.0,NaN,wlasnosc_prywatna,wysoki_poziom_jakosci,1150000,grudzien_2023
68896,szczecin,NaN,48.29,2.0,2014.0,wlasnosc_prywatna,NaN,625000,grudzien_2023
68897,szczecin,blok_mieszkań,68.61,3.0,1997.0,wlasnosc_prywatna,NaN,550000,grudzien_2023
68898,szczecin,kamienica,35.92,2.0,NaN,wlasnosc_prywatna,nizki_poziom_jakosci,299000,grudzien_2023

In [62]:
domy_credyt_08_2023_zgrupowane = df_august.groupby(['miasto', 'rodzaj_zabudowy','metry_kwadratowe','rodzaj_wlasnosci', 'stan_mieszkania','okres'])['wartosc'].mean()
domy_credyt_09_2023_zgrupowane = df_september.groupby(['miasto', 'rodzaj_zabudowy','metry_kwadratowe','rodzaj_wlasnosci', 'stan_mieszkania','okres'])['wartosc'].mean()
domy_credyt_10_2023_zgrupowane = df_october.groupby(['miasto', 'rodzaj_zabudowy','metry_kwadratowe','rodzaj_wlasnosci', 'stan_mieszkania','okres'])['wartosc'].mean()
domy_credyt_11_2023_zgrupowane = df_november.groupby(['miasto', 'rodzaj_zabudowy','metry_kwadratowe','rodzaj_wlasnosci', 'stan_mieszkania','okres'])['wartosc'].mean()
domay_credyt_12_2023_zgrupowane = df_december.groupby(['miasto', 'rodzaj_zabudowy','metry_kwadratowe','rodzaj_wlasnosci', 'stan_mieszkania','okres'])['wartosc'].mean()

In [63]:
domy_credyt_08_2023_zgrupowane = domy_credyt_08_2023_zgrupowane.unstack(level=['miasto', 'rodzaj_wlasnosci'])
domy_credyt_09_2023_zgrupowane = domy_credyt_09_2023_zgrupowane.unstack(level=['miasto', 'rodzaj_wlasnosci'])
domy_credyt_10_2023_zgrupowane = domy_credyt_10_2023_zgrupowane.unstack(level=['miasto', 'rodzaj_wlasnosci'])
domy_credyt_11_2023_zgrupowane = domy_credyt_11_2023_zgrupowane.unstack(level=['miasto', 'rodzaj_wlasnosci'])
domy_credyt_12_2023_zgrupowane = domay_credyt_12_2023_zgrupowane.unstack(level=['miasto', 'rodzaj_wlasnosci'])

In [64]:
domy_credyt_09_2023_zgrupowane.head()

miasto                                                                       bialystok  \
rodzaj_wlasnosci                                                     wlasnosc_prywatna
rodzaj_zabudowy metry_kwadratowe stan_mieszkania       okres
apartamentowiec 49.63            wysoki_poziom_jakosci wrzesien_2023          486000.0
                50.00            wysoki_poziom_jakosci wrzesien_2023          625000.0
                57.84            wysoki_poziom_jakosci wrzesien_2023          599000.0
                61.50            wysoki_poziom_jakosci wrzesien_2023          545000.0
                64.64            wysoki_poziom_jakosci wrzesien_2023          640000.0

miasto                                                                             \
rodzaj_wlasnosci                                                     spółdzielnia
rodzaj_zabudowy metry_kwadratowe stan_mieszkania       okres
apartamentowiec 49.63            wysoki_poziom_jakosci wrzesien_2023          NaN
                50.00            wysoki_poziom_jakosci wrzesien_2023          NaN
                57.84            wysoki_poziom_jakosci wrzesien_2023          NaN
                61.50            wysoki_poziom_jakosci wrzesien_2023          NaN
                64.64            wysoki_poziom_jakosci wrzesien_2023          NaN

miasto                                                                       bydgoszcz  \
rodzaj_wlasnosci                                                     wlasnosc_prywatna
rodzaj_zabudowy metry_kwadratowe stan_mieszkania       okres
apartamentowiec 49.63            wysoki_poziom_jakosci wrzesien_2023               NaN
                50.00            wysoki_poziom_jakosci wrzesien_2023               NaN
                57.84            wysoki_poziom_jakosci wrzesien_2023               NaN
                61.50            wysoki_poziom_jakosci wrzesien_2023               NaN
                64.64            wysoki_poziom_jakosci wrzesien_2023               NaN

miasto                                                                             \
rodzaj_wlasnosci                                                     spółdzielnia
rodzaj_zabudowy metry_kwadratowe stan_mieszkania       okres
apartamentowiec 49.63            wysoki_poziom_jakosci wrzesien_2023          NaN
                50.00            wysoki_poziom_jakosci wrzesien_2023          NaN
                57.84            wysoki_poziom_jakosci wrzesien_2023          NaN
                61.50            wysoki_poziom_jakosci wrzesien_2023          NaN
                64.64            wysoki_poziom_jakosci wrzesien_2023          NaN

miasto                                                                czestochowa  \
rodzaj_wlasnosci                                                     spółdzielnia
rodzaj_zabudowy metry_kwadratowe stan_mieszkania       okres
apartamentowiec 49.63            wysoki_poziom_jakosci wrzesien_2023          NaN
                50.00            wysoki_poziom_jakosci wrzesien_2023          NaN
                57.84            wysoki_poziom_jakosci wrzesien_2023          NaN
                61.50            wysoki_poziom_jakosci wrzesien_2023          NaN
                64.64            wysoki_poziom_jakosci wrzesien_2023          NaN

miasto                                                                                  \
rodzaj_wlasnosci                                                     wlasnosc_prywatna
rodzaj_zabudowy metry_kwadratowe stan_mieszkania       okres
apartamentowiec 49.63            wysoki_poziom_jakosci wrzesien_2023               NaN
                50.00            wysoki_poziom_jakosci wrzesien_2023               NaN
                57.84            wysoki_poziom_jakosci wrzesien_2023               NaN
                61.50            wysoki_poziom_jakosci wrzesien_2023               NaN
                64.64            wysoki_poziom_jakosci wrzesien_2023               NaN

miasto                                                                          gdansk  \
rodzaj_wlasnosci                                                     wlasnosc_prywatna
rodzaj_zabudowy metry_kwadratowe stan_mieszkania       okres
apartamentowiec 49.63            wysoki_poziom_jakosci wrzesien_2023               NaN
                50.00            wysoki_poziom_jakosci wrzesien_2023         1250000.0
                57.84            wysoki_poziom_jakosci wrzesien_2023               NaN
                61.50            wysoki_poziom_jakosci wrzesien_2023               NaN
                64.64            wysoki_poziom_jakosci wrzesien_2023               NaN

miasto                                                                             \
rodzaj_wlasnosci                                                     spółdzielnia
rodzaj_zabudowy metry_kwadratowe stan_mieszkania       okres
apartamentowiec 49.63            wysoki_poziom_jakosci wrzesien_2023          NaN
                50.00            wysoki_poziom_jakosci wrzesien_2023          NaN
                57.84            wysoki_poziom_jakosci wrzesien_2023          NaN
                61.50            wysoki_poziom_jakosci wrzesien_2023          NaN
                64.64            wysoki_poziom_jakosci wrzesien_2023          NaN

miasto                                                                          gdynia  \
rodzaj_wlasnosci                                                     wlasnosc_prywatna
rodzaj_zabudowy metry_kwadratowe stan_mieszkania       okres
apartamentowiec 49.63            wysoki_poziom_jakosci wrzesien_2023               NaN
                50.00            wysoki_poziom_jakosci wrzesien_2023               NaN
                57.84            wysoki_poziom_jakosci wrzesien_2023               NaN
                61.50            wysoki_poziom_jakosci wrzesien_2023               NaN
                64.64            wysoki_poziom_jakosci wrzesien_2023               NaN

miasto                                                                             \
rodzaj_wlasnosci                                                     spółdzielnia
rodzaj_zabudowy metry_kwadratowe stan_mieszkania       okres
apartamentowiec 49.63            wysoki_poziom_jakosci wrzesien_2023          NaN
                50.00            wysoki_poziom_jakosci wrzesien_2023          NaN
                57.84            wysoki_poziom_jakosci wrzesien_2023          NaN
                61.50            wysoki_poziom_jakosci wrzesien_2023          NaN
                64.64            wysoki_poziom_jakosci wrzesien_2023          NaN

miasto                                                                ...  \
rodzaj_wlasnosci                                                      ...
rodzaj_zabudowy metry_kwadratowe stan_mieszkania       okres          ...
apartamentowiec 49.63            wysoki_poziom_jakosci wrzesien_2023  ...
                50.00            wysoki_poziom_jakosci wrzesien_2023  ...
                57.84            wysoki_poziom_jakosci wrzesien_2023  ...
                61.50            wysoki_poziom_jakosci wrzesien_2023  ...
                64.64            wysoki_poziom_jakosci wrzesien_2023  ...

miasto                                                                           radom  \
rodzaj_wlasnosci                                                     wlasnosc_prywatna
rodzaj_zabudowy metry_kwadratowe stan_mieszkania       okres
apartamentowiec 49.63            wysoki_poziom_jakosci wrzesien_2023               NaN
                50.00            wysoki_poziom_jakosci wrzesien_2023               NaN
                57.84            wysoki_poziom_jakosci wrzesien_2023               NaN
                61.50            wysoki_poziom_jakosci wrzesien_2023               NaN
                64.64            wysoki_poziom_jakosci wrzesien_2023               NaN

miasto                                                                             \
rodzaj_wlasnosci                                                     spółdzielnia
rodzaj_zabudowy metry_kwadratowe stan_mieszkania       okres
apartamentowiec 49.63            wysoki_poziom_jakosci wrzesien_2023          NaN
                50.00            wysoki_poziom_jakosci wrzesien_2023          NaN
                57.84            wysoki_poziom_jakosci wrzesien_2023          NaN
                61.50            wysoki_poziom_jakosci wrzesien_2023          NaN
                64.64            wysoki_poziom_jakosci wrzesien_2023          NaN

miasto                                                                         rzeszow  \
rodzaj_wlasnosci                                                     wlasnosc_prywatna
rodzaj_zabudowy metry_kwadratowe stan_mieszkania       okres
apartamentowiec 49.63            wysoki_poziom_jakosci wrzesien_2023               NaN
                50.00            wysoki_poziom_jakosci wrzesien_2023               NaN
                57.84            wysoki_poziom_jakosci wrzesien_2023               NaN
                61.50            wysoki_poziom_jakosci wrzesien_2023               NaN
                64.64            wysoki_poziom_jakosci wrzesien_2023               NaN

miasto                                                                             \
rodzaj_wlasnosci                                                     spółdzielnia
rodzaj_zabudowy metry_kwadratowe stan_mieszkania       okres
apartamentowiec 49.63            wysoki_poziom_jakosci wrzesien_2023          NaN
                50.00            wysoki_poziom_jakosci wrzesien_2023          NaN
                57.84            wysoki_poziom_jakosci wrzesien_2023          NaN
                61.50            wysoki_poziom_jakosci wrzesien_2023          NaN
                64.64            wysoki_poziom_jakosci wrzesien_2023          NaN

miasto                                                                        szczecin  \
rodzaj_wlasnosci                                                     wlasnosc_prywatna
rodzaj_zabudowy metry_kwadratowe stan_mieszkania       okres
apartamentowiec 49.63            wysoki_poziom_jakosci wrzesien_2023               NaN
                50.00            wysoki_poziom_jakosci wrzesien_2023               NaN
                57.84            wysoki_poziom_jakosci wrzesien_2023               NaN
                61.50            wysoki_poziom_jakosci wrzesien_2023               NaN
                64.64            wysoki_poziom_jakosci wrzesien_2023               NaN

miasto                                                                             \
rodzaj_wlasnosci                                                     spółdzielnia
rodzaj_zabudowy metry_kwadratowe stan_mieszkania       okres
apartamentowiec 49.63            wysoki_poziom_jakosci wrzesien_2023          NaN
                50.00            wysoki_poziom_jakosci wrzesien_2023          NaN
                57.84            wysoki_poziom_jakosci wrzesien_2023          NaN
                61.50            wysoki_poziom_jakosci wrzesien_2023          NaN
                64.64            wysoki_poziom_jakosci wrzesien_2023          NaN

miasto                                                                        warszawa  \
rodzaj_wlasnosci                                                     wlasnosc_prywatna
rodzaj_zabudowy metry_kwadratowe stan_mieszkania       okres
apartamentowiec 49.63            wysoki_poziom_jakosci wrzesien_2023               NaN
                50.00            wysoki_poziom_jakosci wrzesien_2023          797600.0
                57.84            wysoki_poziom_jakosci wrzesien_2023               NaN
                61.50            wysoki_poziom_jakosci wrzesien_2023               NaN
                64.64            wysoki_poziom_jakosci wrzesien_2023               NaN

miasto                                                                             \
rodzaj_wlasnosci                                                     spółdzielnia
rodzaj_zabudowy metry_kwadratowe stan_mieszkania       okres
apartamentowiec 49.63            wysoki_poziom_jakosci wrzesien_2023          NaN
                50.00            wysoki_poziom_jakosci wrzesien_2023          NaN
                57.84            wysoki_poziom_jakosci wrzesien_2023          NaN
                61.50            wysoki_poziom_jakosci wrzesien_2023          NaN
                64.64            wysoki_poziom_jakosci wrzesien_2023          NaN

miasto                                                                         wroclaw  \
rodzaj_wlasnosci                                                     wlasnosc_prywatna
rodzaj_zabudowy metry_kwadratowe stan_mieszkania       okres
apartamentowiec 49.63            wysoki_poziom_jakosci wrzesien_2023               NaN
                50.00            wysoki_poziom_jakosci wrzesien_2023          670000.0
                57.84            wysoki_poziom_jakosci wrzesien_2023               NaN
                61.50            wysoki_poziom_jakosci wrzesien_2023               NaN
                64.64            wysoki_poziom_jakosci wrzesien_2023               NaN

miasto
rodzaj_wlasnosci                                                     spółdzielnia
rodzaj_zabudowy metry_kwadratowe stan_mieszkania       okres
apartamentowiec 49.63            wysoki_poziom_jakosci wrzesien_2023          NaN
                50.00            wysoki_poziom_jakosci wrzesien_2023          NaN
                57.84            wysoki_poziom_jakosci wrzesien_2023          NaN
                61.50            wysoki_poziom_jakosci wrzesien_2023          NaN
                64.64            wysoki_poziom_jakosci wrzesien_2023          NaN

[5 rows x 30 columns]

In [65]:
domy_credyt_10_2023_zgrupowane.head()

miasto                                                                          bialystok  \
rodzaj_wlasnosci                                                        wlasnosc_prywatna
rodzaj_zabudowy metry_kwadratowe stan_mieszkania       okres
apartamentowiec 42.00            wysoki_poziom_jakosci pazdziernik_2023          479000.0
                49.63            wysoki_poziom_jakosci pazdziernik_2023          486000.0
                50.00            wysoki_poziom_jakosci pazdziernik_2023          625000.0
                57.84            wysoki_poziom_jakosci pazdziernik_2023          599000.0
                65.88            wysoki_poziom_jakosci pazdziernik_2023          645624.0

miasto                                                                                \
rodzaj_wlasnosci                                                        spółdzielnia
rodzaj_zabudowy metry_kwadratowe stan_mieszkania       okres
apartamentowiec 42.00            wysoki_poziom_jakosci pazdziernik_2023          NaN
                49.63            wysoki_poziom_jakosci pazdziernik_2023          NaN
                50.00            wysoki_poziom_jakosci pazdziernik_2023          NaN
                57.84            wysoki_poziom_jakosci pazdziernik_2023          NaN
                65.88            wysoki_poziom_jakosci pazdziernik_2023          NaN

miasto                                                                          bydgoszcz  \
rodzaj_wlasnosci                                                        wlasnosc_prywatna
rodzaj_zabudowy metry_kwadratowe stan_mieszkania       okres
apartamentowiec 42.00            wysoki_poziom_jakosci pazdziernik_2023               NaN
                49.63            wysoki_poziom_jakosci pazdziernik_2023               NaN
                50.00            wysoki_poziom_jakosci pazdziernik_2023               NaN
                57.84            wysoki_poziom_jakosci pazdziernik_2023               NaN
                65.88            wysoki_poziom_jakosci pazdziernik_2023          689000.0

miasto                                                                                \
rodzaj_wlasnosci                                                        spółdzielnia
rodzaj_zabudowy metry_kwadratowe stan_mieszkania       okres
apartamentowiec 42.00            wysoki_poziom_jakosci pazdziernik_2023          NaN
                49.63            wysoki_poziom_jakosci pazdziernik_2023          NaN
                50.00            wysoki_poziom_jakosci pazdziernik_2023          NaN
                57.84            wysoki_poziom_jakosci pazdziernik_2023          NaN
                65.88            wysoki_poziom_jakosci pazdziernik_2023          NaN

miasto                                                                        czestochowa  \
rodzaj_wlasnosci                                                        wlasnosc_prywatna
rodzaj_zabudowy metry_kwadratowe stan_mieszkania       okres
apartamentowiec 42.00            wysoki_poziom_jakosci pazdziernik_2023               NaN
                49.63            wysoki_poziom_jakosci pazdziernik_2023               NaN
                50.00            wysoki_poziom_jakosci pazdziernik_2023               NaN
                57.84            wysoki_poziom_jakosci pazdziernik_2023               NaN
                65.88            wysoki_poziom_jakosci pazdziernik_2023               NaN

miasto                                                                                \
rodzaj_wlasnosci                                                        spółdzielnia
rodzaj_zabudowy metry_kwadratowe stan_mieszkania       okres
apartamentowiec 42.00            wysoki_poziom_jakosci pazdziernik_2023          NaN
                49.63            wysoki_poziom_jakosci pazdziernik_2023          NaN
                50.00            wysoki_poziom_jakosci pazdziernik_2023          NaN
                57.84            wysoki_poziom_jakosci pazdziernik_2023          NaN
                65.88            wysoki_poziom_jakosci pazdziernik_2023          NaN

miasto                                                                             gdansk  \
rodzaj_wlasnosci                                                        wlasnosc_prywatna
rodzaj_zabudowy metry_kwadratowe stan_mieszkania       okres
apartamentowiec 42.00            wysoki_poziom_jakosci pazdziernik_2023               NaN
                49.63            wysoki_poziom_jakosci pazdziernik_2023               NaN
                50.00            wysoki_poziom_jakosci pazdziernik_2023         1250000.0
                57.84            wysoki_poziom_jakosci pazdziernik_2023               NaN
                65.88            wysoki_poziom_jakosci pazdziernik_2023               NaN

miasto                                                                                \
rodzaj_wlasnosci                                                        spółdzielnia
rodzaj_zabudowy metry_kwadratowe stan_mieszkania       okres
apartamentowiec 42.00            wysoki_poziom_jakosci pazdziernik_2023          NaN
                49.63            wysoki_poziom_jakosci pazdziernik_2023          NaN
                50.00            wysoki_poziom_jakosci pazdziernik_2023          NaN
                57.84            wysoki_poziom_jakosci pazdziernik_2023          NaN
                65.88            wysoki_poziom_jakosci pazdziernik_2023          NaN

miasto                                                                             gdynia  \
rodzaj_wlasnosci                                                        wlasnosc_prywatna
rodzaj_zabudowy metry_kwadratowe stan_mieszkania       okres
apartamentowiec 42.00            wysoki_poziom_jakosci pazdziernik_2023               NaN
                49.63            wysoki_poziom_jakosci pazdziernik_2023               NaN
                50.00            wysoki_poziom_jakosci pazdziernik_2023               NaN
                57.84            wysoki_poziom_jakosci pazdziernik_2023               NaN
                65.88            wysoki_poziom_jakosci pazdziernik_2023               NaN

miasto                                                                                \
rodzaj_wlasnosci                                                        spółdzielnia
rodzaj_zabudowy metry_kwadratowe stan_mieszkania       okres
apartamentowiec 42.00            wysoki_poziom_jakosci pazdziernik_2023          NaN
                49.63            wysoki_poziom_jakosci pazdziernik_2023          NaN
                50.00            wysoki_poziom_jakosci pazdziernik_2023          NaN
                57.84            wysoki_poziom_jakosci pazdziernik_2023          NaN
                65.88            wysoki_poziom_jakosci pazdziernik_2023          NaN

miasto                                                                   ...  \
rodzaj_wlasnosci                                                         ...
rodzaj_zabudowy metry_kwadratowe stan_mieszkania       okres             ...
apartamentowiec 42.00            wysoki_poziom_jakosci pazdziernik_2023  ...
                49.63            wysoki_poziom_jakosci pazdziernik_2023  ...
                50.00            wysoki_poziom_jakosci pazdziernik_2023  ...
                57.84            wysoki_poziom_jakosci pazdziernik_2023  ...
                65.88            wysoki_poziom_jakosci pazdziernik_2023  ...

miasto                                                                              radom  \
rodzaj_wlasnosci                                                        wlasnosc_prywatna
rodzaj_zabudowy metry_kwadratowe stan_mieszkania       okres
apartamentowiec 42.00            wysoki_poziom_jakosci pazdziernik_2023               NaN
                49.63            wysoki_poziom_jakosci pazdziernik_2023               NaN
                50.00            wysoki_poziom_jakosci pazdziernik_2023               NaN
                57.84            wysoki_poziom_jakosci pazdziernik_2023               NaN
                65.88            wysoki_poziom_jakosci pazdziernik_2023               NaN

miasto                                                                                \
rodzaj_wlasnosci                                                        spółdzielnia
rodzaj_zabudowy metry_kwadratowe stan_mieszkania       okres
apartamentowiec 42.00            wysoki_poziom_jakosci pazdziernik_2023          NaN
                49.63            wysoki_poziom_jakosci pazdziernik_2023          NaN
                50.00            wysoki_poziom_jakosci pazdziernik_2023          NaN
                57.84            wysoki_poziom_jakosci pazdziernik_2023          NaN
                65.88            wysoki_poziom_jakosci pazdziernik_2023          NaN

miasto                                                                            rzeszow  \
rodzaj_wlasnosci                                                        wlasnosc_prywatna
rodzaj_zabudowy metry_kwadratowe stan_mieszkania       okres
apartamentowiec 42.00            wysoki_poziom_jakosci pazdziernik_2023               NaN
                49.63            wysoki_poziom_jakosci pazdziernik_2023               NaN
                50.00            wysoki_poziom_jakosci pazdziernik_2023               NaN
                57.84            wysoki_poziom_jakosci pazdziernik_2023               NaN
                65.88            wysoki_poziom_jakosci pazdziernik_2023               NaN

miasto                                                                                \
rodzaj_wlasnosci                                                        spółdzielnia
rodzaj_zabudowy metry_kwadratowe stan_mieszkania       okres
apartamentowiec 42.00            wysoki_poziom_jakosci pazdziernik_2023          NaN
                49.63            wysoki_poziom_jakosci pazdziernik_2023          NaN
                50.00            wysoki_poziom_jakosci pazdziernik_2023          NaN
                57.84            wysoki_poziom_jakosci pazdziernik_2023          NaN
                65.88            wysoki_poziom_jakosci pazdziernik_2023          NaN

miasto                                                                           szczecin  \
rodzaj_wlasnosci                                                        wlasnosc_prywatna
rodzaj_zabudowy metry_kwadratowe stan_mieszkania       okres
apartamentowiec 42.00            wysoki_poziom_jakosci pazdziernik_2023               NaN
                49.63            wysoki_poziom_jakosci pazdziernik_2023               NaN
                50.00            wysoki_poziom_jakosci pazdziernik_2023               NaN
                57.84            wysoki_poziom_jakosci pazdziernik_2023               NaN
                65.88            wysoki_poziom_jakosci pazdziernik_2023               NaN

miasto                                                                                \
rodzaj_wlasnosci                                                        spółdzielnia
rodzaj_zabudowy metry_kwadratowe stan_mieszkania       okres
apartamentowiec 42.00            wysoki_poziom_jakosci pazdziernik_2023          NaN
                49.63            wysoki_poziom_jakosci pazdziernik_2023          NaN
                50.00            wysoki_poziom_jakosci pazdziernik_2023          NaN
                57.84            wysoki_poziom_jakosci pazdziernik_2023          NaN
                65.88            wysoki_poziom_jakosci pazdziernik_2023          NaN

miasto                                                                           warszawa  \
rodzaj_wlasnosci                                                        wlasnosc_prywatna
rodzaj_zabudowy metry_kwadratowe stan_mieszkania       okres
apartamentowiec 42.00            wysoki_poziom_jakosci pazdziernik_2023          812000.0
                49.63            wysoki_poziom_jakosci pazdziernik_2023               NaN
                50.00            wysoki_poziom_jakosci pazdziernik_2023          759500.0
                57.84            wysoki_poziom_jakosci pazdziernik_2023               NaN
                65.88            wysoki_poziom_jakosci pazdziernik_2023               NaN

miasto                                                                                \
rodzaj_wlasnosci                                                        spółdzielnia
rodzaj_zabudowy metry_kwadratowe stan_mieszkania       okres
apartamentowiec 42.00            wysoki_poziom_jakosci pazdziernik_2023          NaN
                49.63            wysoki_poziom_jakosci pazdziernik_2023          NaN
                50.00            wysoki_poziom_jakosci pazdziernik_2023          NaN
                57.84            wysoki_poziom_jakosci pazdziernik_2023          NaN
                65.88            wysoki_poziom_jakosci pazdziernik_2023          NaN

miasto                                                                            wroclaw  \
rodzaj_wlasnosci                                                        wlasnosc_prywatna
rodzaj_zabudowy metry_kwadratowe stan_mieszkania       okres
apartamentowiec 42.00            wysoki_poziom_jakosci pazdziernik_2023               NaN
                49.63            wysoki_poziom_jakosci pazdziernik_2023               NaN
                50.00            wysoki_poziom_jakosci pazdziernik_2023          727500.0
                57.84            wysoki_poziom_jakosci pazdziernik_2023               NaN
                65.88            wysoki_poziom_jakosci pazdziernik_2023               NaN

miasto
rodzaj_wlasnosci                                                        spółdzielnia
rodzaj_zabudowy metry_kwadratowe stan_mieszkania       okres
apartamentowiec 42.00            wysoki_poziom_jakosci pazdziernik_2023          NaN
                49.63            wysoki_poziom_jakosci pazdziernik_2023          NaN
                50.00            wysoki_poziom_jakosci pazdziernik_2023          NaN
                57.84            wysoki_poziom_jakosci pazdziernik_2023          NaN
                65.88            wysoki_poziom_jakosci pazdziernik_2023          NaN

[5 rows x 31 columns]

In [66]:
domy_credyt_11_2023_zgrupowane.head()

miasto                                                                       bialystok  \
rodzaj_wlasnosci                                                     wlasnosc_prywatna
rodzaj_zabudowy metry_kwadratowe stan_mieszkania       okres
apartamentowiec 42.00            wysoki_poziom_jakosci listopad_2023          469000.0
                49.63            wysoki_poziom_jakosci listopad_2023          486000.0
                50.00            wysoki_poziom_jakosci listopad_2023          625000.0
                55.48            wysoki_poziom_jakosci listopad_2023          635000.0
                66.09            wysoki_poziom_jakosci listopad_2023          749000.0

miasto                                                                             \
rodzaj_wlasnosci                                                     spółdzielnia
rodzaj_zabudowy metry_kwadratowe stan_mieszkania       okres
apartamentowiec 42.00            wysoki_poziom_jakosci listopad_2023          NaN
                49.63            wysoki_poziom_jakosci listopad_2023          NaN
                50.00            wysoki_poziom_jakosci listopad_2023          NaN
                55.48            wysoki_poziom_jakosci listopad_2023          NaN
                66.09            wysoki_poziom_jakosci listopad_2023          NaN

miasto                                                                       bydgoszcz  \
rodzaj_wlasnosci                                                     wlasnosc_prywatna
rodzaj_zabudowy metry_kwadratowe stan_mieszkania       okres
apartamentowiec 42.00            wysoki_poziom_jakosci listopad_2023               NaN
                49.63            wysoki_poziom_jakosci listopad_2023               NaN
                50.00            wysoki_poziom_jakosci listopad_2023               NaN
                55.48            wysoki_poziom_jakosci listopad_2023               NaN
                66.09            wysoki_poziom_jakosci listopad_2023               NaN

miasto                                                                             \
rodzaj_wlasnosci                                                     spółdzielnia
rodzaj_zabudowy metry_kwadratowe stan_mieszkania       okres
apartamentowiec 42.00            wysoki_poziom_jakosci listopad_2023          NaN
                49.63            wysoki_poziom_jakosci listopad_2023          NaN
                50.00            wysoki_poziom_jakosci listopad_2023          NaN
                55.48            wysoki_poziom_jakosci listopad_2023          NaN
                66.09            wysoki_poziom_jakosci listopad_2023          NaN

miasto                                                                     czestochowa  \
rodzaj_wlasnosci                                                     wlasnosc_prywatna
rodzaj_zabudowy metry_kwadratowe stan_mieszkania       okres
apartamentowiec 42.00            wysoki_poziom_jakosci listopad_2023               NaN
                49.63            wysoki_poziom_jakosci listopad_2023               NaN
                50.00            wysoki_poziom_jakosci listopad_2023               NaN
                55.48            wysoki_poziom_jakosci listopad_2023               NaN
                66.09            wysoki_poziom_jakosci listopad_2023               NaN

miasto                                                                             \
rodzaj_wlasnosci                                                     spółdzielnia
rodzaj_zabudowy metry_kwadratowe stan_mieszkania       okres
apartamentowiec 42.00            wysoki_poziom_jakosci listopad_2023          NaN
                49.63            wysoki_poziom_jakosci listopad_2023          NaN
                50.00            wysoki_poziom_jakosci listopad_2023          NaN
                55.48            wysoki_poziom_jakosci listopad_2023          NaN
                66.09            wysoki_poziom_jakosci listopad_2023          NaN

miasto                                                                          gdansk  \
rodzaj_wlasnosci                                                     wlasnosc_prywatna
rodzaj_zabudowy metry_kwadratowe stan_mieszkania       okres
apartamentowiec 42.00            wysoki_poziom_jakosci listopad_2023               NaN
                49.63            wysoki_poziom_jakosci listopad_2023               NaN
                50.00            wysoki_poziom_jakosci listopad_2023         1250000.0
                55.48            wysoki_poziom_jakosci listopad_2023               NaN
                66.09            wysoki_poziom_jakosci listopad_2023               NaN

miasto                                                                             \
rodzaj_wlasnosci                                                     spółdzielnia
rodzaj_zabudowy metry_kwadratowe stan_mieszkania       okres
apartamentowiec 42.00            wysoki_poziom_jakosci listopad_2023          NaN
                49.63            wysoki_poziom_jakosci listopad_2023          NaN
                50.00            wysoki_poziom_jakosci listopad_2023          NaN
                55.48            wysoki_poziom_jakosci listopad_2023          NaN
                66.09            wysoki_poziom_jakosci listopad_2023          NaN

miasto                                                                          gdynia  \
rodzaj_wlasnosci                                                     wlasnosc_prywatna
rodzaj_zabudowy metry_kwadratowe stan_mieszkania       okres
apartamentowiec 42.00            wysoki_poziom_jakosci listopad_2023               NaN
                49.63            wysoki_poziom_jakosci listopad_2023               NaN
                50.00            wysoki_poziom_jakosci listopad_2023               NaN
                55.48            wysoki_poziom_jakosci listopad_2023               NaN
                66.09            wysoki_poziom_jakosci listopad_2023               NaN

miasto                                                                             \
rodzaj_wlasnosci                                                     spółdzielnia
rodzaj_zabudowy metry_kwadratowe stan_mieszkania       okres
apartamentowiec 42.00            wysoki_poziom_jakosci listopad_2023          NaN
                49.63            wysoki_poziom_jakosci listopad_2023          NaN
                50.00            wysoki_poziom_jakosci listopad_2023          NaN
                55.48            wysoki_poziom_jakosci listopad_2023          NaN
                66.09            wysoki_poziom_jakosci listopad_2023          NaN

miasto                                                                ...  \
rodzaj_wlasnosci                                                      ...
rodzaj_zabudowy metry_kwadratowe stan_mieszkania       okres          ...
apartamentowiec 42.00            wysoki_poziom_jakosci listopad_2023  ...
                49.63            wysoki_poziom_jakosci listopad_2023  ...
                50.00            wysoki_poziom_jakosci listopad_2023  ...
                55.48            wysoki_poziom_jakosci listopad_2023  ...
                66.09            wysoki_poziom_jakosci listopad_2023  ...

miasto                                                                      radom  \
rodzaj_wlasnosci                                                     spółdzielnia
rodzaj_zabudowy metry_kwadratowe stan_mieszkania       okres
apartamentowiec 42.00            wysoki_poziom_jakosci listopad_2023          NaN
                49.63            wysoki_poziom_jakosci listopad_2023          NaN
                50.00            wysoki_poziom_jakosci listopad_2023          NaN
                55.48            wysoki_poziom_jakosci listopad_2023          NaN
                66.09            wysoki_poziom_jakosci listopad_2023          NaN

miasto                                                                       \
rodzaj_wlasnosci                                                     udział
rodzaj_zabudowy metry_kwadratowe stan_mieszkania       okres
apartamentowiec 42.00            wysoki_poziom_jakosci listopad_2023    NaN
                49.63            wysoki_poziom_jakosci listopad_2023    NaN
                50.00            wysoki_poziom_jakosci listopad_2023    NaN
                55.48            wysoki_poziom_jakosci listopad_2023    NaN
                66.09            wysoki_poziom_jakosci listopad_2023    NaN

miasto                                                                         rzeszow  \
rodzaj_wlasnosci                                                     wlasnosc_prywatna
rodzaj_zabudowy metry_kwadratowe stan_mieszkania       okres
apartamentowiec 42.00            wysoki_poziom_jakosci listopad_2023               NaN
                49.63            wysoki_poziom_jakosci listopad_2023               NaN
                50.00            wysoki_poziom_jakosci listopad_2023               NaN
                55.48            wysoki_poziom_jakosci listopad_2023               NaN
                66.09            wysoki_poziom_jakosci listopad_2023               NaN

miasto                                                                             \
rodzaj_wlasnosci                                                     spółdzielnia
rodzaj_zabudowy metry_kwadratowe stan_mieszkania       okres
apartamentowiec 42.00            wysoki_poziom_jakosci listopad_2023          NaN
                49.63            wysoki_poziom_jakosci listopad_2023          NaN
                50.00            wysoki_poziom_jakosci listopad_2023          NaN
                55.48            wysoki_poziom_jakosci listopad_2023          NaN
                66.09            wysoki_poziom_jakosci listopad_2023          NaN

miasto                                                                        szczecin  \
rodzaj_wlasnosci                                                     wlasnosc_prywatna
rodzaj_zabudowy metry_kwadratowe stan_mieszkania       okres
apartamentowiec 42.00            wysoki_poziom_jakosci listopad_2023               NaN
                49.63            wysoki_poziom_jakosci listopad_2023               NaN
                50.00            wysoki_poziom_jakosci listopad_2023               NaN
                55.48            wysoki_poziom_jakosci listopad_2023               NaN
                66.09            wysoki_poziom_jakosci listopad_2023               NaN

miasto                                                                             \
rodzaj_wlasnosci                                                     spółdzielnia
rodzaj_zabudowy metry_kwadratowe stan_mieszkania       okres
apartamentowiec 42.00            wysoki_poziom_jakosci listopad_2023          NaN
                49.63            wysoki_poziom_jakosci listopad_2023          NaN
                50.00            wysoki_poziom_jakosci listopad_2023          NaN
                55.48            wysoki_poziom_jakosci listopad_2023          NaN
                66.09            wysoki_poziom_jakosci listopad_2023          NaN

miasto                                                                        warszawa  \
rodzaj_wlasnosci                                                     wlasnosc_prywatna
rodzaj_zabudowy metry_kwadratowe stan_mieszkania       okres
apartamentowiec 42.00            wysoki_poziom_jakosci listopad_2023          864000.0
                49.63            wysoki_poziom_jakosci listopad_2023               NaN
                50.00            wysoki_poziom_jakosci listopad_2023          937300.0
                55.48            wysoki_poziom_jakosci listopad_2023               NaN
                66.09            wysoki_poziom_jakosci listopad_2023               NaN

miasto                                                                             \
rodzaj_wlasnosci                                                     spółdzielnia
rodzaj_zabudowy metry_kwadratowe stan_mieszkania       okres
apartamentowiec 42.00            wysoki_poziom_jakosci listopad_2023          NaN
                49.63            wysoki_poziom_jakosci listopad_2023          NaN
                50.00            wysoki_poziom_jakosci listopad_2023          NaN
                55.48            wysoki_poziom_jakosci listopad_2023          NaN
                66.09            wysoki_poziom_jakosci listopad_2023          NaN

miasto                                                                         wroclaw  \
rodzaj_wlasnosci                                                     wlasnosc_prywatna
rodzaj_zabudowy metry_kwadratowe stan_mieszkania       okres
apartamentowiec 42.00            wysoki_poziom_jakosci listopad_2023               NaN
                49.63            wysoki_poziom_jakosci listopad_2023               NaN
                50.00            wysoki_poziom_jakosci listopad_2023          610000.0
                55.48            wysoki_poziom_jakosci listopad_2023               NaN
                66.09            wysoki_poziom_jakosci listopad_2023               NaN

miasto
rodzaj_wlasnosci                                                     spółdzielnia
rodzaj_zabudowy metry_kwadratowe stan_mieszkania       okres
apartamentowiec 42.00            wysoki_poziom_jakosci listopad_2023          NaN
                49.63            wysoki_poziom_jakosci listopad_2023          NaN
                50.00            wysoki_poziom_jakosci listopad_2023          NaN
                55.48            wysoki_poziom_jakosci listopad_2023          NaN
                66.09            wysoki_poziom_jakosci listopad_2023          NaN

[5 rows x 32 columns]

In [67]:
domy_credyt_12_2023_zgrupowane.head()

miasto                                                                       bialystok  \
rodzaj_wlasnosci                                                     wlasnosc_prywatna
rodzaj_zabudowy metry_kwadratowe stan_mieszkania       okres
apartamentowiec 49.63            wysoki_poziom_jakosci grudzien_2023          486000.0
                50.39            wysoki_poziom_jakosci grudzien_2023          666000.0
                55.48            wysoki_poziom_jakosci grudzien_2023          629900.0
                63.42            wysoki_poziom_jakosci grudzien_2023          730000.0
                67.55            wysoki_poziom_jakosci grudzien_2023          689000.0

miasto                                                                             \
rodzaj_wlasnosci                                                     spółdzielnia
rodzaj_zabudowy metry_kwadratowe stan_mieszkania       okres
apartamentowiec 49.63            wysoki_poziom_jakosci grudzien_2023          NaN
                50.39            wysoki_poziom_jakosci grudzien_2023          NaN
                55.48            wysoki_poziom_jakosci grudzien_2023          NaN
                63.42            wysoki_poziom_jakosci grudzien_2023          NaN
                67.55            wysoki_poziom_jakosci grudzien_2023          NaN

miasto                                                                       bydgoszcz  \
rodzaj_wlasnosci                                                     wlasnosc_prywatna
rodzaj_zabudowy metry_kwadratowe stan_mieszkania       okres
apartamentowiec 49.63            wysoki_poziom_jakosci grudzien_2023               NaN
                50.39            wysoki_poziom_jakosci grudzien_2023               NaN
                55.48            wysoki_poziom_jakosci grudzien_2023               NaN
                63.42            wysoki_poziom_jakosci grudzien_2023               NaN
                67.55            wysoki_poziom_jakosci grudzien_2023               NaN

miasto                                                                             \
rodzaj_wlasnosci                                                     spółdzielnia
rodzaj_zabudowy metry_kwadratowe stan_mieszkania       okres
apartamentowiec 49.63            wysoki_poziom_jakosci grudzien_2023          NaN
                50.39            wysoki_poziom_jakosci grudzien_2023          NaN
                55.48            wysoki_poziom_jakosci grudzien_2023          NaN
                63.42            wysoki_poziom_jakosci grudzien_2023          NaN
                67.55            wysoki_poziom_jakosci grudzien_2023          NaN

miasto                                                                     czestochowa  \
rodzaj_wlasnosci                                                     wlasnosc_prywatna
rodzaj_zabudowy metry_kwadratowe stan_mieszkania       okres
apartamentowiec 49.63            wysoki_poziom_jakosci grudzien_2023               NaN
                50.39            wysoki_poziom_jakosci grudzien_2023               NaN
                55.48            wysoki_poziom_jakosci grudzien_2023               NaN
                63.42            wysoki_poziom_jakosci grudzien_2023               NaN
                67.55            wysoki_poziom_jakosci grudzien_2023               NaN

miasto                                                                             \
rodzaj_wlasnosci                                                     spółdzielnia
rodzaj_zabudowy metry_kwadratowe stan_mieszkania       okres
apartamentowiec 49.63            wysoki_poziom_jakosci grudzien_2023          NaN
                50.39            wysoki_poziom_jakosci grudzien_2023          NaN
                55.48            wysoki_poziom_jakosci grudzien_2023          NaN
                63.42            wysoki_poziom_jakosci grudzien_2023          NaN
                67.55            wysoki_poziom_jakosci grudzien_2023          NaN

miasto                                                                          gdansk  \
rodzaj_wlasnosci                                                     wlasnosc_prywatna
rodzaj_zabudowy metry_kwadratowe stan_mieszkania       okres
apartamentowiec 49.63            wysoki_poziom_jakosci grudzien_2023               NaN
                50.39            wysoki_poziom_jakosci grudzien_2023               NaN
                55.48            wysoki_poziom_jakosci grudzien_2023               NaN
                63.42            wysoki_poziom_jakosci grudzien_2023               NaN
                67.55            wysoki_poziom_jakosci grudzien_2023               NaN

miasto                                                                             \
rodzaj_wlasnosci                                                     spółdzielnia
rodzaj_zabudowy metry_kwadratowe stan_mieszkania       okres
apartamentowiec 49.63            wysoki_poziom_jakosci grudzien_2023          NaN
                50.39            wysoki_poziom_jakosci grudzien_2023          NaN
                55.48            wysoki_poziom_jakosci grudzien_2023          NaN
                63.42            wysoki_poziom_jakosci grudzien_2023          NaN
                67.55            wysoki_poziom_jakosci grudzien_2023          NaN

miasto                                                                          gdynia  \
rodzaj_wlasnosci                                                     wlasnosc_prywatna
rodzaj_zabudowy metry_kwadratowe stan_mieszkania       okres
apartamentowiec 49.63            wysoki_poziom_jakosci grudzien_2023               NaN
                50.39            wysoki_poziom_jakosci grudzien_2023               NaN
                55.48            wysoki_poziom_jakosci grudzien_2023               NaN
                63.42            wysoki_poziom_jakosci grudzien_2023               NaN
                67.55            wysoki_poziom_jakosci grudzien_2023               NaN

miasto                                                                             \
rodzaj_wlasnosci                                                     spółdzielnia
rodzaj_zabudowy metry_kwadratowe stan_mieszkania       okres
apartamentowiec 49.63            wysoki_poziom_jakosci grudzien_2023          NaN
                50.39            wysoki_poziom_jakosci grudzien_2023          NaN
                55.48            wysoki_poziom_jakosci grudzien_2023          NaN
                63.42            wysoki_poziom_jakosci grudzien_2023          NaN
                67.55            wysoki_poziom_jakosci grudzien_2023          NaN

miasto                                                                ...  \
rodzaj_wlasnosci                                                      ...
rodzaj_zabudowy metry_kwadratowe stan_mieszkania       okres          ...
apartamentowiec 49.63            wysoki_poziom_jakosci grudzien_2023  ...
                50.39            wysoki_poziom_jakosci grudzien_2023  ...
                55.48            wysoki_poziom_jakosci grudzien_2023  ...
                63.42            wysoki_poziom_jakosci grudzien_2023  ...
                67.55            wysoki_poziom_jakosci grudzien_2023  ...

miasto                                                                           radom  \
rodzaj_wlasnosci                                                     wlasnosc_prywatna
rodzaj_zabudowy metry_kwadratowe stan_mieszkania       okres
apartamentowiec 49.63            wysoki_poziom_jakosci grudzien_2023               NaN
                50.39            wysoki_poziom_jakosci grudzien_2023               NaN
                55.48            wysoki_poziom_jakosci grudzien_2023               NaN
                63.42            wysoki_poziom_jakosci grudzien_2023               NaN
                67.55            wysoki_poziom_jakosci grudzien_2023               NaN

miasto                                                                             \
rodzaj_wlasnosci                                                     spółdzielnia
rodzaj_zabudowy metry_kwadratowe stan_mieszkania       okres
apartamentowiec 49.63            wysoki_poziom_jakosci grudzien_2023          NaN
                50.39            wysoki_poziom_jakosci grudzien_2023          NaN
                55.48            wysoki_poziom_jakosci grudzien_2023          NaN
                63.42            wysoki_poziom_jakosci grudzien_2023          NaN
                67.55            wysoki_poziom_jakosci grudzien_2023          NaN

miasto                                                                         rzeszow  \
rodzaj_wlasnosci                                                     wlasnosc_prywatna
rodzaj_zabudowy metry_kwadratowe stan_mieszkania       okres
apartamentowiec 49.63            wysoki_poziom_jakosci grudzien_2023               NaN
                50.39            wysoki_poziom_jakosci grudzien_2023               NaN
                55.48            wysoki_poziom_jakosci grudzien_2023               NaN
                63.42            wysoki_poziom_jakosci grudzien_2023               NaN
                67.55            wysoki_poziom_jakosci grudzien_2023               NaN

miasto                                                                             \
rodzaj_wlasnosci                                                     spółdzielnia
rodzaj_zabudowy metry_kwadratowe stan_mieszkania       okres
apartamentowiec 49.63            wysoki_poziom_jakosci grudzien_2023          NaN
                50.39            wysoki_poziom_jakosci grudzien_2023          NaN
                55.48            wysoki_poziom_jakosci grudzien_2023          NaN
                63.42            wysoki_poziom_jakosci grudzien_2023          NaN
                67.55            wysoki_poziom_jakosci grudzien_2023          NaN

miasto                                                                        szczecin  \
rodzaj_wlasnosci                                                     wlasnosc_prywatna
rodzaj_zabudowy metry_kwadratowe stan_mieszkania       okres
apartamentowiec 49.63            wysoki_poziom_jakosci grudzien_2023               NaN
                50.39            wysoki_poziom_jakosci grudzien_2023               NaN
                55.48            wysoki_poziom_jakosci grudzien_2023               NaN
                63.42            wysoki_poziom_jakosci grudzien_2023               NaN
                67.55            wysoki_poziom_jakosci grudzien_2023               NaN

miasto                                                                             \
rodzaj_wlasnosci                                                     spółdzielnia
rodzaj_zabudowy metry_kwadratowe stan_mieszkania       okres
apartamentowiec 49.63            wysoki_poziom_jakosci grudzien_2023          NaN
                50.39            wysoki_poziom_jakosci grudzien_2023          NaN
                55.48            wysoki_poziom_jakosci grudzien_2023          NaN
                63.42            wysoki_poziom_jakosci grudzien_2023          NaN
                67.55            wysoki_poziom_jakosci grudzien_2023          NaN

miasto                                                                        warszawa  \
rodzaj_wlasnosci                                                     wlasnosc_prywatna
rodzaj_zabudowy metry_kwadratowe stan_mieszkania       okres
apartamentowiec 49.63            wysoki_poziom_jakosci grudzien_2023               NaN
                50.39            wysoki_poziom_jakosci grudzien_2023               NaN
                55.48            wysoki_poziom_jakosci grudzien_2023               NaN
                63.42            wysoki_poziom_jakosci grudzien_2023               NaN
                67.55            wysoki_poziom_jakosci grudzien_2023               NaN

miasto                                                                             \
rodzaj_wlasnosci                                                     spółdzielnia
rodzaj_zabudowy metry_kwadratowe stan_mieszkania       okres
apartamentowiec 49.63            wysoki_poziom_jakosci grudzien_2023          NaN
                50.39            wysoki_poziom_jakosci grudzien_2023          NaN
                55.48            wysoki_poziom_jakosci grudzien_2023          NaN
                63.42            wysoki_poziom_jakosci grudzien_2023          NaN
                67.55            wysoki_poziom_jakosci grudzien_2023          NaN

miasto                                                                         wroclaw  \
rodzaj_wlasnosci                                                     wlasnosc_prywatna
rodzaj_zabudowy metry_kwadratowe stan_mieszkania       okres
apartamentowiec 49.63            wysoki_poziom_jakosci grudzien_2023               NaN
                50.39            wysoki_poziom_jakosci grudzien_2023               NaN
                55.48            wysoki_poziom_jakosci grudzien_2023               NaN
                63.42            wysoki_poziom_jakosci grudzien_2023               NaN
                67.55            wysoki_poziom_jakosci grudzien_2023               NaN

miasto
rodzaj_wlasnosci                                                     spółdzielnia
rodzaj_zabudowy metry_kwadratowe stan_mieszkania       okres
apartamentowiec 49.63            wysoki_poziom_jakosci grudzien_2023          NaN
                50.39            wysoki_poziom_jakosci grudzien_2023          NaN
                55.48            wysoki_poziom_jakosci grudzien_2023          NaN
                63.42            wysoki_poziom_jakosci grudzien_2023          NaN
                67.55            wysoki_poziom_jakosci grudzien_2023          NaN

[5 rows x 31 columns]

In [68]:
domy_credyt_08_2023_splaszczone = domy_credyt_08_2023_zgrupowane.copy()
domy_credyt_09_2023_splaszczone = domy_credyt_09_2023_zgrupowane.copy()
domy_credyt_10_2023_splaszczone = domy_credyt_10_2023_zgrupowane.copy()
domy_credyt_11_2023_splaszczone = domy_credyt_11_2023_zgrupowane.copy()
domy_credyt_12_2023_splaszczone = domy_credyt_12_2023_zgrupowane.copy()

In [69]:
domy_credyt_08_2023_splaszczone.columns = ['_'.join(col).strip() for col in domy_credyt_08_2023_splaszczone.columns.values]
domy_credyt_09_2023_splaszczone.columns = ['_'.join(col).strip() for col in domy_credyt_09_2023_splaszczone.columns.values]
domy_credyt_10_2023_splaszczone.columns = ['_'.join(col).strip() for col in domy_credyt_10_2023_splaszczone.columns.values]
domy_credyt_11_2023_splaszczone.columns = ['_'.join(col).strip() for col in domy_credyt_11_2023_splaszczone.columns.values]
domy_credyt_12_2023_splaszczone.columns = ['_'.join(col).strip() for col in domy_credyt_12_2023_splaszczone.columns.values]

In [70]:
domy_credyt_08_2023_splaszczone = domy_credyt_08_2023_splaszczone.reset_index()
domy_credyt_09_2023_splaszczone = domy_credyt_09_2023_splaszczone.reset_index()
domy_credyt_10_2023_splaszczone = domy_credyt_10_2023_splaszczone.reset_index()
domy_credyt_11_2023_splaszczone = domy_credyt_11_2023_splaszczone.reset_index()
domy_credyt_12_2023_splaszczone = domy_credyt_12_2023_splaszczone.reset_index()

In [71]:
domy_credyt_09_2023_splaszczone.head(10)

,rodzaj_zabudowy,metry_kwadratowe,stan_mieszkania,okres,bialystok_wlasnosc_prywatna,bialystok_spółdzielnia,bydgoszcz_wlasnosc_prywatna,bydgoszcz_spółdzielnia,czestochowa_spółdzielnia,czestochowa_wlasnosc_prywatna,...,radom_wlasnosc_prywatna,radom_spółdzielnia,rzeszow_wlasnosc_prywatna,rzeszow_spółdzielnia,szczecin_wlasnosc_prywatna,szczecin_spółdzielnia,warszawa_wlasnosc_prywatna,warszawa_spółdzielnia,wroclaw_wlasnosc_prywatna,wroclaw_spółdzielnia
0,apartamentowiec,49.63,wysoki_poziom_jakosci,wrzesien_2023,486000.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,apartamentowiec,50.00,wysoki_poziom_jakosci,wrzesien_2023,625000.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,797600.0,NaN,670000.0,NaN
2,apartamentowiec,57.84,wysoki_poziom_jakosci,wrzesien_2023,599000.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,apartamentowiec,61.50,wysoki_poziom_jakosci,wrzesien_2023,545000.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,apartamentowiec,64.64,wysoki_poziom_jakosci,wrzesien_2023,640000.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,apartamentowiec,66.09,wysoki_poziom_jakosci,wrzesien_2023,749000.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,apartamentowiec,67.55,wysoki_poziom_jakosci,wrzesien_2023,698000.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,apartamentowiec,80.52,wysoki_poziom_jakosci,wrzesien_2023,750000.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,apartamentowiec,36.00,nizki_poziom_jakosci,wrzesien_2023,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,850000.0,NaN,NaN,NaN
9,apartamentowiec,36.00,wysoki_poziom_jakosci,wrzesien_2023,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,856000.0,NaN,NaN,NaN

In [72]:
domy_credyt_10_2023_splaszczone.head(10)

,rodzaj_zabudowy,metry_kwadratowe,stan_mieszkania,okres,bialystok_wlasnosc_prywatna,bialystok_spółdzielnia,bydgoszcz_wlasnosc_prywatna,bydgoszcz_spółdzielnia,czestochowa_wlasnosc_prywatna,czestochowa_spółdzielnia,...,radom_wlasnosc_prywatna,radom_spółdzielnia,rzeszow_wlasnosc_prywatna,rzeszow_spółdzielnia,szczecin_wlasnosc_prywatna,szczecin_spółdzielnia,warszawa_wlasnosc_prywatna,warszawa_spółdzielnia,wroclaw_wlasnosc_prywatna,wroclaw_spółdzielnia
0,apartamentowiec,42.00,wysoki_poziom_jakosci,pazdziernik_2023,479000.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,812000.0,NaN,NaN,NaN
1,apartamentowiec,49.63,wysoki_poziom_jakosci,pazdziernik_2023,486000.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,apartamentowiec,50.00,wysoki_poziom_jakosci,pazdziernik_2023,625000.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,759500.0,NaN,727500.0,NaN
3,apartamentowiec,57.84,wysoki_poziom_jakosci,pazdziernik_2023,599000.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,apartamentowiec,65.88,wysoki_poziom_jakosci,pazdziernik_2023,645624.0,NaN,689000.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,apartamentowiec,66.09,wysoki_poziom_jakosci,pazdziernik_2023,749000.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,apartamentowiec,67.55,wysoki_poziom_jakosci,pazdziernik_2023,698000.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,apartamentowiec,80.52,wysoki_poziom_jakosci,pazdziernik_2023,750000.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,apartamentowiec,36.00,nizki_poziom_jakosci,pazdziernik_2023,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,850000.0,NaN,NaN,NaN
9,apartamentowiec,36.00,wysoki_poziom_jakosci,pazdziernik_2023,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,856000.0,NaN,NaN,NaN

In [73]:
domy_credyt_11_2023_splaszczone.head(10)

,rodzaj_zabudowy,metry_kwadratowe,stan_mieszkania,okres,bialystok_wlasnosc_prywatna,bialystok_spółdzielnia,bydgoszcz_wlasnosc_prywatna,bydgoszcz_spółdzielnia,czestochowa_wlasnosc_prywatna,czestochowa_spółdzielnia,...,radom_spółdzielnia,radom_udział,rzeszow_wlasnosc_prywatna,rzeszow_spółdzielnia,szczecin_wlasnosc_prywatna,szczecin_spółdzielnia,warszawa_wlasnosc_prywatna,warszawa_spółdzielnia,wroclaw_wlasnosc_prywatna,wroclaw_spółdzielnia
0,apartamentowiec,42.00,wysoki_poziom_jakosci,listopad_2023,469000.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,864000.0,NaN,NaN,NaN
1,apartamentowiec,49.63,wysoki_poziom_jakosci,listopad_2023,486000.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,apartamentowiec,50.00,wysoki_poziom_jakosci,listopad_2023,625000.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,937300.0,NaN,610000.0,NaN
3,apartamentowiec,55.48,wysoki_poziom_jakosci,listopad_2023,635000.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,apartamentowiec,66.09,wysoki_poziom_jakosci,listopad_2023,749000.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,apartamentowiec,67.55,wysoki_poziom_jakosci,listopad_2023,698000.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,apartamentowiec,36.00,nizki_poziom_jakosci,listopad_2023,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,850000.0,NaN,NaN,NaN
7,apartamentowiec,36.00,wysoki_poziom_jakosci,listopad_2023,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,856000.0,NaN,NaN,NaN
8,apartamentowiec,39.00,wysoki_poziom_jakosci,listopad_2023,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,720000.0,NaN,NaN,NaN
9,apartamentowiec,46.09,wysoki_poziom_jakosci,listopad_2023,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,850000.0,NaN,NaN,NaN

In [74]:
domy_credyt_12_2023_splaszczone.head(10)

,rodzaj_zabudowy,metry_kwadratowe,stan_mieszkania,okres,bialystok_wlasnosc_prywatna,bialystok_spółdzielnia,bydgoszcz_wlasnosc_prywatna,bydgoszcz_spółdzielnia,czestochowa_wlasnosc_prywatna,czestochowa_spółdzielnia,...,radom_wlasnosc_prywatna,radom_spółdzielnia,rzeszow_wlasnosc_prywatna,rzeszow_spółdzielnia,szczecin_wlasnosc_prywatna,szczecin_spółdzielnia,warszawa_wlasnosc_prywatna,warszawa_spółdzielnia,wroclaw_wlasnosc_prywatna,wroclaw_spółdzielnia
0,apartamentowiec,49.63,wysoki_poziom_jakosci,grudzien_2023,486000.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,apartamentowiec,50.39,wysoki_poziom_jakosci,grudzien_2023,666000.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,apartamentowiec,55.48,wysoki_poziom_jakosci,grudzien_2023,629900.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,apartamentowiec,63.42,wysoki_poziom_jakosci,grudzien_2023,730000.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,apartamentowiec,67.55,wysoki_poziom_jakosci,grudzien_2023,689000.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,apartamentowiec,36.00,nizki_poziom_jakosci,grudzien_2023,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,709850.000000,NaN,NaN,NaN
6,apartamentowiec,36.00,wysoki_poziom_jakosci,grudzien_2023,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,842333.333333,NaN,708012.5,NaN
7,apartamentowiec,37.90,wysoki_poziom_jakosci,grudzien_2023,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,apartamentowiec,38.00,wysoki_poziom_jakosci,grudzien_2023,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,apartamentowiec,41.50,wysoki_poziom_jakosci,grudzien_2023,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,850000.000000,NaN,NaN,NaN

In [75]:
domy_credyt_08_2023_splaszczone.to_csv('../Datasets/Price_During_Credit(08.2023-03.2024)/Ready_to_use/domy_credyt_08_2023_przerobione.csv', index=False)
domy_credyt_09_2023_splaszczone.to_csv('../Datasets/Price_During_Credit(08.2023-03.2024)/Ready_to_use/domy_credyt_09_2023_przerobione.csv', index=False)
domy_credyt_10_2023_splaszczone.to_csv('../Datasets/Price_During_Credit(08.2023-03.2024)/Ready_to_use/domy_credyt_10_2023_przerobione.csv', index=False)
domy_credyt_11_2023_splaszczone.to_csv('../Datasets/Price_During_Credit(08.2023-03.2024)/Ready_to_use/domy_credyt_11_2023_przerobione.csv', index=False)
domy_credyt_12_2023_splaszczone.to_csv('../Datasets/Price_During_Credit(08.2023-03.2024)/Ready_to_use/domy_credyt_12_2023_przerobione.csv', index=False)

<h2>OKRES 1-4<h2>

In [76]:
domy_credyt_01_2024 = pd.read_csv('../Datasets/Price_During_Credit(08.2023-03.2024)/RAW_data_CR/apartments_pl_2024_01.csv')
domy_credyt_02_2024 = pd.read_csv('../Datasets/Price_During_Credit(08.2023-03.2024)/RAW_data_CR/apartments_pl_2024_02.csv')
domy_credyt_03_2024 = pd.read_csv('../Datasets/Price_During_Credit(08.2023-03.2024)/RAW_data_CR/apartments_pl_2024_03.csv')
domy_credyt_04_2024 = pd.read_csv('../Datasets/Price_During_Credit(08.2023-03.2024)/RAW_data_CR/apartments_pl_2024_04.csv')

In [77]:
domy_credyt_01_2024_wybrane_kolumny = domy_credyt_01_2024[['city','type', 'squareMeters','rooms', 'buildYear','ownership','condition','price']]

domy_credyt_02_2024_wybrane_kolumny = domy_credyt_02_2024[['city','type', 'squareMeters','rooms', 'buildYear','ownership','condition','price']]

domy_credyt_03_2024_wybrane_kolumny = domy_credyt_03_2024[['city','type', 'squareMeters','rooms', 'buildYear','ownership','condition','price']]

domy_credyt_04_2024_wybrane_kolumny = domy_credyt_04_2024[['city','type', 'squareMeters','rooms', 'buildYear','ownership','condition','price']]

In [78]:
domy_credyt_01_2024_wybrane_kolumny['period'] = 'styczen_2024'
domy_credyt_02_2024_wybrane_kolumny['period'] = 'luty_2024'
domy_credyt_03_2024_wybrane_kolumny['period'] = 'marzec_2024'
domy_credyt_04_2024_wybrane_kolumny['period'] = 'kwiecien_2024'

C:\Users\Анна Мамчич\AppData\Local\Temp\ipykernel_15948\1661737893.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  domy_credyt_01_2024_wybrane_kolumny['period'] = 'styczen_2024'
C:\Users\Анна Мамчич\AppData\Local\Temp\ipykernel_15948\1661737893.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  domy_credyt_02_2024_wybrane_kolumny['period'] = 'luty_2024'
C:\Users\Анна Мамчич\AppData\Local\Temp\ipykernel_15948\1661737893.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  domy_credyt_03_2024_wybrane_kolumny['period'] = 'marzec_2024'
C:\Users\Анна Мамчич\AppData\Local\Temp\ipykernel_15948\1661737893.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  domy_credyt_04_2024_wybrane_kolumny['period'] = 'kwiecien_2024'

In [79]:
domy_credyt_01_2024_copy = domy_credyt_01_2024_wybrane_kolumny.copy()
domy_credyt_02_2024_copy = domy_credyt_02_2024_wybrane_kolumny.copy()
domy_credyt_03_2024_copy = domy_credyt_03_2024_wybrane_kolumny.copy()
domy_credyt_04_2024_copy = domy_credyt_04_2024_wybrane_kolumny.copy()

In [80]:
domy_credyt_01_2024_copy.head()

,city,type,squareMeters,rooms,buildYear,ownership,condition,price,period
0,szczecin,apartmentBuilding,105.00,4.0,2016.0,condominium,premium,1199999,styczen_2024
1,szczecin,tenement,73.02,3.0,NaN,condominium,NaN,650000,styczen_2024
2,szczecin,blockOfFlats,68.61,3.0,1997.0,condominium,NaN,590000,styczen_2024
3,szczecin,blockOfFlats,42.00,2.0,NaN,condominium,NaN,584999,styczen_2024
4,szczecin,blockOfFlats,45.50,2.0,1960.0,condominium,low,363000,styczen_2024

In [81]:
domy_credyt_02_2024_copy.head()

,city,type,squareMeters,rooms,buildYear,ownership,condition,price,period
0,szczecin,blockOfFlats,57.10,2.0,2022.0,condominium,NaN,615000,luty_2024
1,szczecin,tenement,73.02,3.0,NaN,condominium,NaN,650000,luty_2024
2,szczecin,tenement,48.84,2.0,1950.0,condominium,low,389000,luty_2024
3,szczecin,blockOfFlats,78.00,3.0,2000.0,cooperative,NaN,750000,luty_2024
4,szczecin,apartmentBuilding,77.91,3.0,2019.0,condominium,premium,810000,luty_2024

In [82]:
domy_credyt_03_2024_copy.head()

,city,type,squareMeters,rooms,buildYear,ownership,condition,price,period
0,szczecin,apartmentBuilding,105.00,4.0,2016.0,condominium,premium,1199999,marzec_2024
1,szczecin,NaN,53.80,2.0,NaN,cooperative,NaN,420000,marzec_2024
2,szczecin,blockOfFlats,90.00,4.0,2024.0,condominium,NaN,499000,marzec_2024
3,szczecin,apartmentBuilding,48.77,2.0,2019.0,condominium,premium,639000,marzec_2024
4,szczecin,blockOfFlats,72.90,4.0,1989.0,condominium,low,639000,marzec_2024

In [83]:
domy_credyt_04_2024_copy.head()

,city,type,squareMeters,rooms,buildYear,ownership,condition,price,period
0,szczecin,blockOfFlats,91.00,4.0,1932.0,condominium,premium,512000,kwiecien_2024
1,szczecin,NaN,53.80,2.0,NaN,cooperative,NaN,400000,kwiecien_2024
2,szczecin,tenement,130.00,4.0,1930.0,condominium,low,975000,kwiecien_2024
3,szczecin,blockOfFlats,68.61,3.0,1997.0,condominium,NaN,599000,kwiecien_2024
4,szczecin,blockOfFlats,80.00,3.0,2017.0,condominium,premium,999999,kwiecien_2024

In [84]:
domy_combined2 = pd.concat([domy_credyt_01_2024_copy, domy_credyt_02_2024_copy,domy_credyt_03_2024_copy,domy_credyt_04_2024_copy], ignore_index=True)
domy_combined2.head(70000)

,city,type,squareMeters,rooms,buildYear,ownership,condition,price,period
0,szczecin,apartmentBuilding,105.00,4.0,2016.0,condominium,premium,1199999,styczen_2024
1,szczecin,tenement,73.02,3.0,NaN,condominium,NaN,650000,styczen_2024
2,szczecin,blockOfFlats,68.61,3.0,1997.0,condominium,NaN,590000,styczen_2024
3,szczecin,blockOfFlats,42.00,2.0,NaN,condominium,NaN,584999,styczen_2024
4,szczecin,blockOfFlats,45.50,2.0,1960.0,condominium,low,363000,styczen_2024
...,...,...,...,...,...,...,...,...,...
68454,bydgoszcz,tenement,106.00,5.0,NaN,condominium,NaN,742000,kwiecien_2024
68455,bydgoszcz,tenement,98.00,3.0,1925.0,condominium,NaN,499000,kwiecien_2024
68456,bydgoszcz,tenement,108.96,5.0,1889.0,condominium,NaN,795000,kwiecien_2024
68457,bydgoszcz,NaN,50.12,2.0,NaN,condominium,NaN,360000,kwiecien_2024
68458,bydgoszcz,tenement,59.10,2.0,1910.0,condominium,NaN,320000,kwiecien_2024

In [85]:
domy_combined2_wybrane_kolumny = domy_combined2[['city','type', 'squareMeters','rooms', 'buildYear','ownership','condition','price','period']]
domy_combined2_wybrane_kolumny.head()

,city,type,squareMeters,rooms,buildYear,ownership,condition,price,period
0,szczecin,apartmentBuilding,105.00,4.0,2016.0,condominium,premium,1199999,styczen_2024
1,szczecin,tenement,73.02,3.0,NaN,condominium,NaN,650000,styczen_2024
2,szczecin,blockOfFlats,68.61,3.0,1997.0,condominium,NaN,590000,styczen_2024
3,szczecin,blockOfFlats,42.00,2.0,NaN,condominium,NaN,584999,styczen_2024
4,szczecin,blockOfFlats,45.50,2.0,1960.0,condominium,low,363000,styczen_2024

In [86]:
domy_combined2_wybrane_kolumny.columns = ['miasto','rodzaj_zabudowy', 'metry_kwadratowe', 'ilosc_pokojow', 'rok_zabudowy','rodzaj_wlasnosci','stan_mieszkania','wartosc','okres']
domy_combined2_wybrane_kolumny.head()

,miasto,rodzaj_zabudowy,metry_kwadratowe,ilosc_pokojow,rok_zabudowy,rodzaj_wlasnosci,stan_mieszkania,wartosc,okres
0,szczecin,apartmentBuilding,105.00,4.0,2016.0,condominium,premium,1199999,styczen_2024
1,szczecin,tenement,73.02,3.0,NaN,condominium,NaN,650000,styczen_2024
2,szczecin,blockOfFlats,68.61,3.0,1997.0,condominium,NaN,590000,styczen_2024
3,szczecin,blockOfFlats,42.00,2.0,NaN,condominium,NaN,584999,styczen_2024
4,szczecin,blockOfFlats,45.50,2.0,1960.0,condominium,low,363000,styczen_2024

In [87]:
domy_combined2_wybrane_kolumny['rodzaj_zabudowy'] = domy_combined2_wybrane_kolumny['rodzaj_zabudowy'].replace({
    'blockOfFlats': 'blok_mieszkań',
    'tenement': 'kamienica',
    'apartmentBuilding': 'apartamentowiec',
    'nan': 'brak_informacji'
})
domy_combined2_wybrane_kolumny['rodzaj_wlasnosci'] = domy_combined2_wybrane_kolumny['rodzaj_wlasnosci'].replace({
    'condominium' : 'wlasnosc_prywatna',
    'cooperative' : 'spółdzielnia'
})
domy_combined2_wybrane_kolumny['stan_mieszkania'] = domy_combined2_wybrane_kolumny['stan_mieszkania'].replace({
    'low': 'nizki_poziom_jakosci',
    'premium': 'wysoki_poziom_jakosci',
    'nan': 'brak_informacji'
})

In [88]:
stan_mieszkania1 = domy_combined2_wybrane_kolumny['okres'].drop_duplicates()
for value3 in stan_mieszkania1:
    print(value3)

styczen_2024
luty_2024
marzec_2024
kwiecien_2024

In [89]:
df_january = domy_combined2_wybrane_kolumny[domy_combined2_wybrane_kolumny['okres'].str.contains('styczen_2024', case=False, na=False)]
df_february = domy_combined2_wybrane_kolumny[domy_combined2_wybrane_kolumny['okres'].str.contains('luty_2024', case=False, na=False)]
df_march = domy_combined2_wybrane_kolumny[domy_combined2_wybrane_kolumny['okres'].str.contains('marzec_2024', case=False, na=False)]
df_april = domy_combined2_wybrane_kolumny[domy_combined2_wybrane_kolumny['okres'].str.contains('kwiecien_2024', case=False, na=False)]

In [90]:
df_january.head()

,miasto,rodzaj_zabudowy,metry_kwadratowe,ilosc_pokojow,rok_zabudowy,rodzaj_wlasnosci,stan_mieszkania,wartosc,okres
0,szczecin,apartamentowiec,105.00,4.0,2016.0,wlasnosc_prywatna,wysoki_poziom_jakosci,1199999,styczen_2024
1,szczecin,kamienica,73.02,3.0,NaN,wlasnosc_prywatna,NaN,650000,styczen_2024
2,szczecin,blok_mieszkań,68.61,3.0,1997.0,wlasnosc_prywatna,NaN,590000,styczen_2024
3,szczecin,blok_mieszkań,42.00,2.0,NaN,wlasnosc_prywatna,NaN,584999,styczen_2024
4,szczecin,blok_mieszkań,45.50,2.0,1960.0,wlasnosc_prywatna,nizki_poziom_jakosci,363000,styczen_2024

In [91]:
df_february.head()

,miasto,rodzaj_zabudowy,metry_kwadratowe,ilosc_pokojow,rok_zabudowy,rodzaj_wlasnosci,stan_mieszkania,wartosc,okres
15521,szczecin,blok_mieszkań,57.10,2.0,2022.0,wlasnosc_prywatna,NaN,615000,luty_2024
15522,szczecin,kamienica,73.02,3.0,NaN,wlasnosc_prywatna,NaN,650000,luty_2024
15523,szczecin,kamienica,48.84,2.0,1950.0,wlasnosc_prywatna,nizki_poziom_jakosci,389000,luty_2024
15524,szczecin,blok_mieszkań,78.00,3.0,2000.0,spółdzielnia,NaN,750000,luty_2024
15525,szczecin,apartamentowiec,77.91,3.0,2019.0,wlasnosc_prywatna,wysoki_poziom_jakosci,810000,luty_2024

In [92]:
df_january.to_csv('../Datasets/Price_During_Credit(08.2023-03.2024)/tmp_data_CR/database_january.csv', index=False)
df_february.to_csv('../Datasets/Price_During_Credit(08.2023-03.2024)/tmp_data_CR/database_february.csv', index=False)
df_march.to_csv('../Datasets/Price_During_Credit(08.2023-03.2024)/tmp_data_CR/database_march.csv', index=False)
df_april.to_csv('../Datasets/Price_During_Credit(08.2023-03.2024)/tmp_data_CR/database_april.csv', index=False)

In [93]:
domy_credyt_01_2024_zgrupowane = df_january.groupby(['miasto', 'rodzaj_zabudowy','metry_kwadratowe','rodzaj_wlasnosci', 'stan_mieszkania','okres'])['wartosc'].mean()
domy_credyt_02_2024_zgrupowane = df_february.groupby(['miasto', 'rodzaj_zabudowy','metry_kwadratowe','rodzaj_wlasnosci', 'stan_mieszkania','okres'])['wartosc'].mean()
domy_credyt_03_2024_zgrupowane = df_march.groupby(['miasto', 'rodzaj_zabudowy','metry_kwadratowe','rodzaj_wlasnosci', 'stan_mieszkania','okres'])['wartosc'].mean()
domy_credyt_04_2024_zgrupowane = df_april.groupby(['miasto', 'rodzaj_zabudowy','metry_kwadratowe','rodzaj_wlasnosci', 'stan_mieszkania','okres'])['wartosc'].mean()

In [94]:
domy_credyt_01_2024_zgrupowane.head(200)

miasto     rodzaj_zabudowy  metry_kwadratowe  rodzaj_wlasnosci   stan_mieszkania        okres
bialystok  apartamentowiec  49.63             wlasnosc_prywatna  wysoki_poziom_jakosci  styczen_2024     486000.0
                            50.39             wlasnosc_prywatna  wysoki_poziom_jakosci  styczen_2024     666000.0
                            55.48             wlasnosc_prywatna  wysoki_poziom_jakosci  styczen_2024     629900.0
           blok_mieszkań    32.10             spółdzielnia       nizki_poziom_jakosci   styczen_2024     310000.0
                            36.00             wlasnosc_prywatna  nizki_poziom_jakosci   styczen_2024     380000.0
                                                                                                          ...
gdansk     apartamentowiec  78.18             wlasnosc_prywatna  wysoki_poziom_jakosci  styczen_2024    2198000.0
                            78.64             wlasnosc_prywatna  wysoki_poziom_jakosci  styczen_2024    2168000.0
                            84.82             wlasnosc_prywatna  wysoki_poziom_jakosci  styczen_2024    1399000.0
                            95.89             wlasnosc_prywatna  wysoki_poziom_jakosci  styczen_2024    2190000.0
                            101.00            wlasnosc_prywatna  wysoki_poziom_jakosci  styczen_2024    1180000.0
Name: wartosc, Length: 200, dtype: float64

In [95]:
domy_credyt_02_2024_zgrupowane.head(200)

miasto     rodzaj_zabudowy  metry_kwadratowe  rodzaj_wlasnosci   stan_mieszkania        okres
bialystok  apartamentowiec  49.63             wlasnosc_prywatna  wysoki_poziom_jakosci  luty_2024     486000.0
                            50.39             wlasnosc_prywatna  wysoki_poziom_jakosci  luty_2024     666000.0
                            55.48             wlasnosc_prywatna  wysoki_poziom_jakosci  luty_2024     629900.0
           blok_mieszkań    32.10             spółdzielnia       nizki_poziom_jakosci   luty_2024     310000.0
                            36.00             wlasnosc_prywatna  nizki_poziom_jakosci   luty_2024     380000.0
                                                                                                       ...
gdansk     apartamentowiec  48.30             wlasnosc_prywatna  wysoki_poziom_jakosci  luty_2024    1159000.0
                            50.00             wlasnosc_prywatna  wysoki_poziom_jakosci  luty_2024     540000.0
                            55.91             wlasnosc_prywatna  wysoki_poziom_jakosci  luty_2024    1015000.0
                            56.28             wlasnosc_prywatna  wysoki_poziom_jakosci  luty_2024     870000.0
                            62.49             wlasnosc_prywatna  wysoki_poziom_jakosci  luty_2024    1190000.0
Name: wartosc, Length: 200, dtype: float64

In [96]:
domy_credyt_03_2024_zgrupowane.head()

miasto     rodzaj_zabudowy  metry_kwadratowe  rodzaj_wlasnosci   stan_mieszkania        okres
bialystok  apartamentowiec  40.50             wlasnosc_prywatna  wysoki_poziom_jakosci  marzec_2024    587250.0
                            49.63             wlasnosc_prywatna  wysoki_poziom_jakosci  marzec_2024    530000.0
                            60.00             wlasnosc_prywatna  wysoki_poziom_jakosci  marzec_2024    739000.0
           blok_mieszkań    32.10             spółdzielnia       nizki_poziom_jakosci   marzec_2024    310000.0
                            32.60             spółdzielnia       nizki_poziom_jakosci   marzec_2024    320000.0
Name: wartosc, dtype: float64

In [97]:
domy_credyt_04_2024_zgrupowane.head()

miasto     rodzaj_zabudowy  metry_kwadratowe  rodzaj_wlasnosci   stan_mieszkania        okres
bialystok  apartamentowiec  34.00             wlasnosc_prywatna  wysoki_poziom_jakosci  kwiecien_2024    495000.0
                            40.50             wlasnosc_prywatna  wysoki_poziom_jakosci  kwiecien_2024    587250.0
                            43.50             wlasnosc_prywatna  wysoki_poziom_jakosci  kwiecien_2024    659000.0
                            49.63             wlasnosc_prywatna  wysoki_poziom_jakosci  kwiecien_2024    530000.0
                            51.70             wlasnosc_prywatna  wysoki_poziom_jakosci  kwiecien_2024    666930.0
Name: wartosc, dtype: float64

In [98]:
domy_credyt_01_2024_zgrupowane = domy_credyt_01_2024_zgrupowane.unstack(level=['miasto', 'rodzaj_wlasnosci'])
domy_credyt_02_2024_zgrupowane = domy_credyt_02_2024_zgrupowane.unstack(level=['miasto', 'rodzaj_wlasnosci'])
domy_credyt_03_2024_zgrupowane = domy_credyt_03_2024_zgrupowane.unstack(level=['miasto', 'rodzaj_wlasnosci'])
domy_credyt_04_2024_zgrupowane = domy_credyt_04_2024_zgrupowane.unstack(level=['miasto', 'rodzaj_wlasnosci'])

In [99]:
domy_credyt_01_2024_splaszczone = domy_credyt_01_2024_zgrupowane.copy()
domy_credyt_02_2024_splaszczone = domy_credyt_02_2024_zgrupowane.copy()
domy_credyt_03_2024_splaszczone = domy_credyt_03_2024_zgrupowane.copy()
domy_credyt_04_2024_splaszczone = domy_credyt_04_2024_zgrupowane.copy()

In [100]:
domy_credyt_01_2024_splaszczone.columns = ['_'.join(col).strip() for col in domy_credyt_01_2024_splaszczone.columns.values]
domy_credyt_02_2024_splaszczone.columns = ['_'.join(col).strip() for col in domy_credyt_02_2024_splaszczone.columns.values]
domy_credyt_03_2024_splaszczone.columns = ['_'.join(col).strip() for col in domy_credyt_03_2024_splaszczone.columns.values]
domy_credyt_04_2024_splaszczone.columns = ['_'.join(col).strip() for col in domy_credyt_04_2024_splaszczone.columns.values]

In [101]:
domy_credyt_01_2024_splaszczone = domy_credyt_01_2024_splaszczone.reset_index()
domy_credyt_02_2024_splaszczone = domy_credyt_02_2024_splaszczone.reset_index()
domy_credyt_03_2024_splaszczone = domy_credyt_03_2024_splaszczone.reset_index()
domy_credyt_04_2024_splaszczone = domy_credyt_04_2024_splaszczone.reset_index()

In [102]:
domy_credyt_01_2024_splaszczone.head(100)

,rodzaj_zabudowy,metry_kwadratowe,stan_mieszkania,okres,bialystok_wlasnosc_prywatna,bialystok_spółdzielnia,bydgoszcz_wlasnosc_prywatna,bydgoszcz_spółdzielnia,czestochowa_wlasnosc_prywatna,czestochowa_spółdzielnia,...,radom_wlasnosc_prywatna,radom_spółdzielnia,rzeszow_wlasnosc_prywatna,rzeszow_spółdzielnia,szczecin_wlasnosc_prywatna,szczecin_spółdzielnia,warszawa_wlasnosc_prywatna,warszawa_spółdzielnia,wroclaw_wlasnosc_prywatna,wroclaw_spółdzielnia
0,apartamentowiec,49.63,wysoki_poziom_jakosci,styczen_2024,486000.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,apartamentowiec,50.39,wysoki_poziom_jakosci,styczen_2024,666000.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,apartamentowiec,55.48,wysoki_poziom_jakosci,styczen_2024,629900.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,apartamentowiec,36.00,nizki_poziom_jakosci,styczen_2024,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,723350.0,NaN,NaN,NaN
4,apartamentowiec,36.00,wysoki_poziom_jakosci,styczen_2024,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,789000.0,NaN,6.810167e+05,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,apartamentowiec,96.45,wysoki_poziom_jakosci,styczen_2024,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
96,apartamentowiec,102.00,wysoki_poziom_jakosci,styczen_2024,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,apartamentowiec,105.31,wysoki_poziom_jakosci,styczen_2024,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
98,apartamentowiec,64.50,wysoki_poziom_jakosci,styczen_2024,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.220000e+06,NaN
99,apartamentowiec,77.00,wysoki_poziom_jakosci,styczen_2024,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [103]:
domy_credyt_02_2024_splaszczone.head(100)

,rodzaj_zabudowy,metry_kwadratowe,stan_mieszkania,okres,bialystok_wlasnosc_prywatna,bialystok_spółdzielnia,bydgoszcz_wlasnosc_prywatna,bydgoszcz_spółdzielnia,czestochowa_wlasnosc_prywatna,czestochowa_spółdzielnia,...,radom_wlasnosc_prywatna,radom_spółdzielnia,rzeszow_wlasnosc_prywatna,rzeszow_spółdzielnia,szczecin_wlasnosc_prywatna,szczecin_spółdzielnia,warszawa_wlasnosc_prywatna,warszawa_spółdzielnia,wroclaw_wlasnosc_prywatna,wroclaw_spółdzielnia
0,apartamentowiec,49.63,wysoki_poziom_jakosci,luty_2024,486000.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,apartamentowiec,50.39,wysoki_poziom_jakosci,luty_2024,666000.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,apartamentowiec,55.48,wysoki_poziom_jakosci,luty_2024,629900.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,apartamentowiec,36.00,nizki_poziom_jakosci,luty_2024,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,850000.0,NaN,NaN,NaN
4,apartamentowiec,36.00,wysoki_poziom_jakosci,luty_2024,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,789000.0,NaN,668000.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,apartamentowiec,64.00,nizki_poziom_jakosci,luty_2024,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,829000.0,NaN,639999.0,NaN
96,apartamentowiec,64.00,wysoki_poziom_jakosci,luty_2024,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,959000.0,NaN,918500.0,NaN
97,apartamentowiec,69.00,wysoki_poziom_jakosci,luty_2024,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1794000.0,1250000.0,1050000.0,NaN
98,apartamentowiec,70.00,nizki_poziom_jakosci,luty_2024,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,699000.0,NaN
99,apartamentowiec,70.00,wysoki_poziom_jakosci,luty_2024,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1395000.0,NaN,940000.0,NaN

In [104]:
domy_credyt_01_2024_splaszczone.to_csv('../Datasets/Price_During_Credit(08.2023-03.2024)/Ready_to_use/domy_credyt_01_2024_przerobione.csv', index=False)
domy_credyt_02_2024_splaszczone.to_csv('../Datasets/Price_During_Credit(08.2023-03.2024)/Ready_to_use/domy_credyt_02_2024_przerobione.csv', index=False)
domy_credyt_03_2024_splaszczone.to_csv('../Datasets/Price_During_Credit(08.2023-03.2024)/Ready_to_use/domy_credyt_03_2024_przerobione.csv', index=False)
domy_credyt_04_2024_splaszczone.to_csv('../Datasets/Price_During_Credit(08.2023-03.2024)/Ready_to_use/domy_credyt_04_2024_przerobione.csv', index=False)

In [105]:
domy_credyt_all = pd.concat([domy_credyt_08_2023_splaszczone,domy_credyt_09_2023_splaszczone,domy_credyt_10_2023_splaszczone,domy_credyt_11_2023_splaszczone,domy_credyt_12_2023_splaszczone,domy_credyt_01_2024_splaszczone,domy_credyt_02_2024_splaszczone,domy_credyt_03_2024_splaszczone,domy_credyt_04_2024_splaszczone])

In [106]:
domy_credyt_all.head(30000)

,rodzaj_zabudowy,metry_kwadratowe,stan_mieszkania,okres,bialystok_wlasnosc_prywatna,bialystok_spółdzielnia,bydgoszcz_wlasnosc_prywatna,bydgoszcz_spółdzielnia,czestochowa_spółdzielnia,czestochowa_wlasnosc_prywatna,...,rzeszow_wlasnosc_prywatna,rzeszow_spółdzielnia,szczecin_wlasnosc_prywatna,szczecin_spółdzielnia,warszawa_wlasnosc_prywatna,warszawa_spółdzielnia,wroclaw_wlasnosc_prywatna,wroclaw_spółdzielnia,krakow_udział,radom_udział
0,apartamentowiec,41.62,wysoki_poziom_jakosci,sierpien_2023,530000.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,apartamentowiec,49.63,wysoki_poziom_jakosci,sierpien_2023,486000.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,apartamentowiec,50.00,wysoki_poziom_jakosci,sierpien_2023,575000.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,835571.428571,NaN,570000.0,NaN,NaN,NaN
3,apartamentowiec,61.50,wysoki_poziom_jakosci,sierpien_2023,539000.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,apartamentowiec,64.64,wysoki_poziom_jakosci,sierpien_2023,640000.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2640,kamienica,102.64,wysoki_poziom_jakosci,kwiecien_2024,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1250000.0,NaN,NaN,NaN
2641,kamienica,102.86,wysoki_poziom_jakosci,kwiecien_2024,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1137000.0,NaN,NaN,NaN
2642,kamienica,103.92,nizki_poziom_jakosci,kwiecien_2024,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1113000.0,NaN,NaN,NaN
2643,kamienica,106.42,wysoki_poziom_jakosci,kwiecien_2024,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1210000.0,NaN,NaN,NaN
2644,kamienica,107.81,nizki_poziom_jakosci,kwiecien_2024,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1190000.0,NaN,NaN,NaN

In [107]:
domy_credyt_all.to_csv('../Datasets/Price_During_Credit(08.2023-03.2024)/Ready_to_use/domy_credyt_all.csv', index=False)